Repository folkzb/magalu: changes, and which pre-commit hooks are due for each by the changed paths.
All: spec-stats, valid-openapi-specs, apply-oapi-customizations

spec-stats:
  name: spec-stats
  language: python
  entry: bash -c 'python3 ./scripts/spec_stats.py ./mgc/cli/openapis -o ./script-qa/spec_stats_dump.yml'
  stages:
  - pre-commit
  - pre-push
  additional_dependencies:
  - jsonschema
  - PyYAML
  - typing
  - argparse

valid-openapi-specs:
  name: valid-openapi-specs
  language: python
  entry: scripts/transformers/validate_openapi_specs.py
  stages:
  - pre-commit
  - pre-push
  additional_dependencies:
  - jsonschema
  - PyYAML
  - typing
  - argparse

apply-oapi-customizations:
  name: apply-oapi-customizations
  language: system
  entry: bash -c './scripts/oapi_apply_customizations.sh'
  stages:
  - pre-commit

feat: Update Magalu Cloud CLI description (#1132)
  README.md
  mgc/cli/cmd/root.go
  mgc/cli/docs/help.md
Due: none

feat: object storage policy commands (#1130)
  mgc/cli/docs/object-storage/buckets/help.md
  mgc/cli/docs/object-storage/buckets/policy/delete/help.md
  mgc/cli/docs/object-storage/buckets/policy/get/help.md
  mgc/cli/docs/object-storage/buckets/policy/help.md
  mgc/cli/docs/object-storage/buckets/policy/set/help.md
  mgc/sdk/static/object_storage/buckets/group.go
  mgc/sdk/static/object_storage/buckets/policy/delete.go
  mgc/sdk/static/object_storage/buckets/policy/get.go
  mgc/sdk/static/object_storage/buckets/policy/group.go
  mgc/sdk/static/object_storage/buckets/policy/set.go
Due: none

feat: Add API Key Menu management functionality (#1131)
  mgc/cli/docs/auth/api-key/create/help.md
  mgc/cli/docs/auth/api-key/get/help.md
  mgc/cli/docs/auth/api-key/help.md
  mgc/cli/docs/auth/api-key/list/help.md
  mgc/cli/docs/auth/api-key/revoke/help.md
  mgc/cli/docs/auth/help.md
  mgc/cli/docs/help.md
  mgc/sdk/static/auth/api_key/common.go
  mgc/sdk/static/auth/api_key/create.go
  mgc/sdk/static/auth/api_key/get.go
  mgc/sdk/static/auth/api_key/group.go
  mgc/sdk/static/auth/api_key/list.go
  mgc/sdk/static/auth/api_key/revoke.go
  mgc/sdk/static/auth/api_key/scopes.go
  mgc/sdk/static/auth/api_key/scopes.json
  mgc/sdk/static/auth/group.go
Due: none

chore: updating version to v0.23.0
  mgc/sdk/version.txt
Due: none

chore: change python script (#1135)
  .pre-commit-config.yaml
  scripts/gen_expected_cli_doc_output.py
Due: spec-stats, apply-oapi-customizations

chore: add globaldb & update k8s spec (#1136)
  mgc/cli/docs/kubernetes/cluster/create/help.md
  mgc/cli/openapis/kubernetes.openapi.yaml
  mgc/lib/products/kubernetes/cluster/create.go
  mgc/sdk/openapi/embed_loader.go
  mgc/spec_manipulator/cli_specs/conv.globaldb.openapi.yaml
  mgc/spec_manipulator/cli_specs/globaldb.openapi.yaml
  mgc/spec_manipulator/cli_specs/kubernetes.jaxyendy.openapi.json
  mgc/spec_manipulator/specs.yaml
  mgc/terraform-provider-mgc/docs/resources/kubernetes_cluster.md
  scripts/add_all_specs.sh
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

feat: Implement Kubernetes Cluster and Nodepool resources with SDK and added Cluster, Nodepool, Node, Flavor and Version DataSources (#1137)
  mgc/sdk/openapi/operation.go
  mgc/terraform-provider-mgc/docs/data-sources/kubernetes_cluster.md
  mgc/terraform-provider-mgc/docs/data-sources/kubernetes_flavor.md
  mgc/terraform-provider-mgc/docs/data-sources/kubernetes_node.md
  mgc/terraform-provider-mgc/docs/data-sources/kubernetes_nodepool.md
  mgc/terraform-provider-mgc/docs/data-sources/kubernetes_version.md
  mgc/terraform-provider-mgc/docs/resources/kubernetes_cluster.md
  mgc/terraform-provider-mgc/docs/resources/kubernetes_nodepool.md
  mgc/terraform-provider-mgc/go.mod
  mgc/terraform-provider-mgc/go.sum
  mgc/terraform-provider-mgc/internal/provider/mgc_datasource_k8s_cluster.go
  mgc/terraform-provider-mgc/internal/provider/mgc_datasource_k8s_flavor.go
  mgc/terraform-provider-mgc/internal/provider/mgc_datasource_k8s_kubeconfig.go
  mgc/terraform-provider-mgc/internal/provider/mgc_datasource_k8s_node.go
  mgc/terraform-provider-mgc/internal/provider/mgc_datasource_k8s_nodepool.go
  mgc/terraform-provider-mgc/internal/provider/mgc_datasource_k8s_version.go
  mgc/terraform-provider-mgc/internal/provider/mgc_k8s_common.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_k8s_cluster.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_k8s_nodepool.go
  mgc/terraform-provider-mgc/internal/provider/provider.go
Due: none

chore: organize tf dir (#1138)
  mgc/terraform-provider-mgc/internal/datasources/mgc_datasource_k8s_cluster.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_datasource_k8s_flavor.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_datasource_k8s_kubeconfig.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_datasource_k8s_node.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_datasource_k8s_nodepool.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_datasource_k8s_version.go
  mgc/terraform-provider-mgc/internal/provider/config.go
  mgc/terraform-provider-mgc/internal/provider/provider.go
  mgc/terraform-provider-mgc/internal/resources/mgc_resource_block_storage_snapshots.go
  mgc/terraform-provider-mgc/internal/resources/mgc_resource_block_storage_volumes.go
  mgc/terraform-provider-mgc/internal/resources/mgc_resource_k8s_cluster.go
  mgc/terraform-provider-mgc/internal/resources/mgc_resource_k8s_nodepool.go
  mgc/terraform-provider-mgc/internal/resources/mgc_resource_objectstorage_buckets.go
  mgc/terraform-provider-mgc/internal/resources/mgc_resource_vm_instances.go
  mgc/terraform-provider-mgc/internal/resources/mgc_resource_vm_snapshots.go
  mgc/terraform-provider-mgc/internal/resources/mgc_resource_volume_attach.go
  mgc/terraform-provider-mgc/internal/tfutil/mgc_common.go
  mgc/terraform-provider-mgc/internal/tfutil/mgc_k8s_common.go
  mgc/terraform-provider-mgc/internal/tfutil/mgc_provider_common.go
  mgc/terraform-provider-mgc/internal/tfutil/mgc_provider_common_test.go
Due: none

chore: improve templates && improve core - http retry && rename tf files (#1139)
  mgc/codegen/generator/executor.go.template
  mgc/codegen/generator/helpers_converters.go.template
  mgc/codegen/generator/service.go.template
  mgc/core/go.mod
  mgc/core/http/http_retry.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_k8s_cluster.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_k8s_flavor.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_k8s_kubeconfig.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_k8s_node.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_k8s_nodepool.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_k8s_version.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_network_vpc.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_vm_instance_type.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_vm_machine_type.go
  mgc/terraform-provider-mgc/internal/resources/mgc_bs_snapshots.go
  mgc/terraform-provider-mgc/internal/resources/mgc_bs_volume_attach.go
  mgc/terraform-provider-mgc/internal/resources/mgc_bs_volumes.go
  mgc/terraform-provider-mgc/internal/resources/mgc_k8s_cluster.go
  mgc/terraform-provider-mgc/internal/resources/mgc_k8s_nodepool.go
  mgc/terraform-provider-mgc/internal/resources/mgc_obj_buckets.go
  mgc/terraform-provider-mgc/internal/resources/mgc_vm_instances.go
  mgc/terraform-provider-mgc/internal/resources/mgc_vm_snapshots.go
Due: none

chore: improve codegen (#1140)
  mgc/cli/cmd/handle_executor.go
  mgc/cli/cmd/root.go
  mgc/codegen/generator/types.go
  mgc/core/auth/auth.go
  mgc/core/http/log_http_headers.go
  mgc/lib/products/auth/api_key.go
  mgc/lib/products/auth/x_tenant_id.go
  mgc/lib/products/config/get_schema.go
  mgc/terraform-provider-mgc/internal/provider/provider.go
  scripts/codegen_lib.sh
Due: none

fix: ssh (#1142)
  mgc/cli/cmd/raw.go
  mgc/cli/openapis/ssh.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/spec_manipulator/cli_specs/conv.globaldb.openapi.yaml
  mgc/spec_manipulator/cli_specs/globaldb.openapi.yaml
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

feat: add tf vm datasource && add tf ssh-key resource+datasource (#1144)
  mgc/cli/docs/help.md
  mgc/cli/docs/ssh/help.md
  mgc/cli/docs/ssh/ssh_keys/create/help.md
  mgc/cli/docs/ssh/ssh_keys/delete/help.md
  mgc/cli/docs/ssh/ssh_keys/get/help.md
  mgc/cli/docs/ssh/ssh_keys/help.md
  mgc/cli/docs/ssh/ssh_keys/list/help.md
  mgc/cli/openapis/index.openapi.yaml
  mgc/cli/openapis/ssh.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/sdk/openapi/operation.go
  mgc/spec_manipulator/cli_specs/globaldb.openapi.yaml
  mgc/terraform-provider-mgc/docs/data-sources/virtual_machine_images.md
  mgc/terraform-provider-mgc/docs/data-sources/virtual_machine_instances.md
  mgc/terraform-provider-mgc/docs/data-sources/virtual_machine_types.md
  mgc/terraform-provider-mgc/docs/resources/ssh_ssh_keys.md
  mgc/terraform-provider-mgc/internal/datasources/mgc_network_vpc.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_ssh_keys.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_vm_image.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_vm_instance_type.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_vm_machine_instances.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_vm_machine_type.go
  mgc/terraform-provider-mgc/internal/provider/provider.go
  mgc/terraform-provider-mgc/internal/resources/mgc_ssh_keys.go
  scripts/add_all_specs.sh
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

feat: improve tf ds (#1147)
  mgc/terraform-provider-mgc/docs/data-sources/virtual_machine_images.md
  mgc/terraform-provider-mgc/docs/data-sources/virtual_machine_instance.md
  mgc/terraform-provider-mgc/docs/data-sources/virtual_machine_types.md
  mgc/terraform-provider-mgc/internal/datasources/mgc_vm_image.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_vm_machine_instance.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_vm_machine_instances.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_vm_machine_type.go
  mgc/terraform-provider-mgc/internal/provider/provider.go
Due: none

fix: terraform k8s destroy loop error (#1146)
  mgc/sdk/version.txt
  mgc/terraform-provider-mgc/internal/resources/mgc_k8s_cluster.go
Due: none

fix: tf region block storage (#1149)
  mgc/sdk/version.txt
  mgc/terraform-provider-mgc/internal/resources/mgc_bs_snapshots.go
  mgc/terraform-provider-mgc/internal/resources/mgc_bs_volumes.go
Due: none

fix: lazy children having concurrence nil pointer (#1150)
  mgc/core/grouper_lazy_children.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_k8s_flavor.go
Due: none

feat: add obj resource datasource (#1151)
  mgc/terraform-provider-mgc/docs/data-sources/object_storage_bucket.md
  mgc/terraform-provider-mgc/docs/data-sources/object_storage_buckets.md
  mgc/terraform-provider-mgc/internal/datasources/mgc_obj_bucket.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_obj_buckets.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_obj_object.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_obj_objects.go
  mgc/terraform-provider-mgc/internal/datasources/mgc_ssh_keys.go
  mgc/terraform-provider-mgc/internal/provider/provider.go
  mgc/terraform-provider-mgc/internal/resources/mgc_obj_object.go
Due: none

feat: new workspace command and ssh keys (#1154)
  mgc/cli/docs/help.md
  mgc/cli/docs/profile/help.md
  mgc/cli/docs/profile/ssh_keys/help.md
  mgc/cli/docs/profile/workspaces/help.md
  mgc/cli/docs/workspace/create/help.md
  mgc/cli/docs/workspace/delete/help.md
  mgc/cli/docs/workspace/get/help.md
  mgc/cli/docs/workspace/help.md
  mgc/cli/docs/workspace/list/help.md
  mgc/cli/docs/workspace/set/help.md
  mgc/cli/openapis/profile.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/sdk/static/group.go
  mgc/sdk/static/profile/group.go
  mgc/sdk/static/profile/workspace/group.go
  mgc/sdk/static/workspace/create.go
  mgc/sdk/static/workspace/delete.go
  mgc/sdk/static/workspace/error.go
  mgc/sdk/static/workspace/get.go
  mgc/sdk/static/workspace/group.go
  mgc/sdk/static/workspace/list.go
  mgc/sdk/static/workspace/set.go
  mgc/terraform-provider-mgc/docs/resources/workspace.md
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

feat: bump v0.24.3 (#1158)
  mgc/cli/docs/profile/help.md
  mgc/cli/docs/profile/ssh_keys/delete/help.md
  mgc/cli/docs/profile/ssh_keys/get/help.md
  mgc/cli/docs/profile/ssh_keys/help.md
  mgc/cli/docs/virtual-machine/backups/copy/help.md
  mgc/cli/docs/virtual-machine/backups/create/help.md
  mgc/cli/docs/virtual-machine/backups/delete/help.md
  mgc/cli/docs/virtual-machine/backups/get/help.md
  mgc/cli/docs/virtual-machine/backups/help.md
  mgc/cli/docs/virtual-machine/backups/list/help.md
  mgc/cli/docs/virtual-machine/backups/rename/help.md
  mgc/cli/docs/virtual-machine/backups/restore/help.md
  mgc/cli/docs/virtual-machine/help.md
  mgc/cli/openapis/index.openapi.yaml
  mgc/cli/openapis/profile.openapi.yaml
  mgc/cli/openapis/virtual-machine.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/sdk/version.txt
  mgc/spec_manipulator/cli_specs/conv.globaldb.openapi.yaml
  mgc/spec_manipulator/cli_specs/conv.virtual-machine.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/globaldb.openapi.yaml
  mgc/spec_manipulator/cli_specs/virtual-machine.jaxyendy.openapi.json
  mgc/terraform-provider-mgc/docs/resources/virtual_machine_backups.md
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

feat: bump version v0.24.4 (#1160)
  mgc/cli/docs/profile/help.md
  mgc/cli/docs/profile/ssh_keys/help.md
  mgc/cli/openapis/profile.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/sdk/version.txt
  mgc/spec_manipulator/cli_specs/conv.globaldb.openapi.yaml
  mgc/spec_manipulator/cli_specs/globaldb.openapi.yaml
  mgc/terraform-provider-mgc/docs/resources/virtual_machine_backups.md
  mgc/terraform-provider-mgc/mgc/provider/provider.go
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

feat: allow to remove field from output (#1145)
  mgc/cli/cmd/cmd_result_format.go
  mgc/cli/cmd/output.go
  mgc/cli/cmd/output_jsonpath.go
  mgc/sdk/openapi/README.md
Due: none

feat: terraform k8s cluster now support update
  mgc/terraform-provider-mgc/mgc/resources/mgc_k8s_cluster.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_k8s_nodepool.go
Due: none

fix: mgc core resolver sync map
  mgc/core/ref_resolver.go
Due: none

fix: default output (#1162)
  goreleaser_terraform.yaml
  mgc/cli/cmd/output.go
  mgc/terraform-provider-mgc/docs/data-sources/object_storage_bucket.md
  mgc/terraform-provider-mgc/docs/data-sources/object_storage_buckets.md
  mgc/terraform-provider-mgc/docs/data-sources/ssh_keys.md
  mgc/terraform-provider-mgc/mgc/provider/provider.go
Due: spec-stats, apply-oapi-customizations

fix: [tf] validating empty lists for nil values in k8s cluster
  mgc/terraform-provider-mgc/mgc/resources/mgc_k8s_cluster.go
Due: none

chore: bump sdk version
  mgc/sdk/version.txt
Due: none

feat: update specs (#1166)
  mgc/cli/docs/kubernetes/cluster/create/help.md
  mgc/cli/docs/profile/ssh_keys/list/help.md
  mgc/cli/openapis/kubernetes.openapi.yaml
  mgc/cli/openapis/profile.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/spec_manipulator/cli_specs/conv.globaldb.openapi.yaml
  mgc/spec_manipulator/cli_specs/events-consult.openapi.yaml
  mgc/spec_manipulator/cli_specs/kubernetes.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/virtual-machine.jaxyendy.openapi.json
  openapi-customizations/profile.openapi.yaml
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

chore: change readme (#1172)
  mgc/sdk/openapi/README.md
Due: none

feat: add Audit (events-consult-api) (#1169)
  mgc/cli/docs/audit/event-types/help.md
  mgc/cli/docs/audit/event-types/list/help.md
  mgc/cli/docs/audit/events/help.md
  mgc/cli/docs/audit/events/list/help.md
  mgc/cli/docs/audit/help.md
  mgc/cli/docs/help.md
  mgc/cli/openapis/audit.openapi.yaml
  mgc/cli/openapis/index.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/spec_manipulator/cli_specs/conv.events-consult.openapi.yaml
  mgc/spec_manipulator/cli_specs/events-consult.openapi.yaml
  mgc/spec_manipulator/specs.yaml
  openapi-customizations/audit.openapi.yaml
  scripts/add_all_specs.sh
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

chore: bump version v0.24.6 (#1167)
  mgc/sdk/version.txt
Due: none

chore: change scopes (#1174)
  mgc/sdk/static/auth/api_key/create.go
  mgc/sdk/static/auth/api_key/scopes.json
Due: none

feat: Object Storage Bucket Label (#1171)
  mgc/cli/docs/object-storage/buckets/label/delete/help.md
  mgc/cli/docs/object-storage/buckets/label/get/help.md
  mgc/cli/docs/object-storage/buckets/label/help.md
  mgc/cli/docs/object-storage/buckets/label/set/help.md
  mgc/sdk/static/object_storage/buckets/group.go
  mgc/sdk/static/object_storage/buckets/label/delete.go
  mgc/sdk/static/object_storage/buckets/label/get.go
  mgc/sdk/static/object_storage/buckets/label/group.go
  mgc/sdk/static/object_storage/buckets/label/set.go
Due: none

chore: hide the progress with raw flag
  mgc/sdk/static/object_storage/objects/sync.go
  mgc/sdk/static/object_storage/objects/upload_dir.go
Due: none

Path conditions:
  spec-stats: any of: \.py$, \.(yaml|yml)$
  valid-openapi-specs: any of: ^mgc/cli/openapis/(?!index).*[.]openapi[.](yaml|yml|json)$ and \.(yaml|yml)$, \.json$
  apply-oapi-customizations: any of: \.(yaml|yml)$
