Repository folkzb/magalu: changes, and which pre-commit hooks are due for each by the changed paths.
All: spec-stats, valid-openapi-specs, apply-oapi-customizations

spec-stats:
  name: spec-stats
  language: python
  entry: bash -c 'python3 ./scripts/spec_stats.py ./mgc/cli/openapis -o ./script-qa/spec_stats_dump.yml'
  stages:
  - pre-commit
  - pre-push
  additional_dependencies:
  - jsonschema
  - PyYAML
  - typing
  - argparse

valid-openapi-specs:
  name: valid-openapi-specs
  language: python
  entry: scripts/transformers/validate_openapi_specs.py
  stages:
  - pre-commit
  - pre-push
  additional_dependencies:
  - jsonschema
  - PyYAML
  - typing
  - argparse

apply-oapi-customizations:
  name: apply-oapi-customizations
  language: system
  entry: bash -c './scripts/oapi_apply_customizations.sh'
  stages:
  - pre-commit

[TF] - fix - terraform documentation with inveted examples for kubeconfig and cluster (#1208)
  mgc/terraform-provider-mgc/docs/data-sources/kubernetes_cluster.md
  mgc/terraform-provider-mgc/docs/data-sources/kubernetes_cluster_kubeconfig.md
  mgc/terraform-provider-mgc/examples/data-sources/mgc_kubernetes_cluster/data-source.tf
  mgc/terraform-provider-mgc/examples/data-sources/mgc_kubernetes_cluster_kubeconfig/data-source.tf
Due: none

[CLI] fix: delete bucket message (#1209)
  mgc/sdk/static/object_storage/common/delete.go
Due: none

[tf] - feat: Add network VPC resource and data source (#1211)
  mgc/terraform-provider-mgc/docs/data-sources/network_vpc.md
  mgc/terraform-provider-mgc/docs/resources/network_vpc.md
  mgc/terraform-provider-mgc/docs/resources/network_vpcs.md
  mgc/terraform-provider-mgc/examples/data-sources/mgc_network_vpc/data-source.tf
  mgc/terraform-provider-mgc/examples/resources/mgc_network_vpc/import.sh
  mgc/terraform-provider-mgc/examples/resources/mgc_network_vpc/resource.tf
  mgc/terraform-provider-mgc/mgc/datasources/mgc_net_vpc.go
  mgc/terraform-provider-mgc/mgc/provider/provider.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_vpc.go
  mgc/terraform-provider-mgc/tests/network/provider.tf
  mgc/terraform-provider-mgc/tests/network/vpc.tf
Due: none

Add network VPC and security groups resources and data sources (#1212)
  mgc/terraform-provider-mgc/docs/data-sources/network_security_group.md
  mgc/terraform-provider-mgc/docs/resources/network_security_groups.md
  mgc/terraform-provider-mgc/examples/data-sources/mgc_network_security_group/data-source.tf
  mgc/terraform-provider-mgc/examples/resources/mgc_network_security_groups/import.sh
  mgc/terraform-provider-mgc/examples/resources/mgc_network_security_groups/resource.tf
  mgc/terraform-provider-mgc/mgc/datasources/mgc_net_security_group.go
  mgc/terraform-provider-mgc/mgc/provider/provider.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_security_groups.go
  mgc/terraform-provider-mgc/tests/network/security_groups.tf
Due: none

[tf] feat: Add network security groups rules resource implementation (#1214)
  mgc/terraform-provider-mgc/docs/resources/network_security_groups_rules.md
  mgc/terraform-provider-mgc/examples/resources/mgc_network_security_groups_rules/import.sh
  mgc/terraform-provider-mgc/examples/resources/mgc_network_security_groups_rules/resource.tf
  mgc/terraform-provider-mgc/mgc/datasources/mgc_net_security_group.go
  mgc/terraform-provider-mgc/mgc/provider/provider.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_security_groups_rules.go
  mgc/terraform-provider-mgc/mgc/tfutil/mgc_common.go
  mgc/terraform-provider-mgc/tests/network/security_groups.tf
Due: none

fix: rollback all output changes (#1219)
  mgc/cli/cmd/cmd_result_format.go
  mgc/cli/cmd/output.go
  mgc/cli/openapis/audit.openapi.yaml
  mgc/cli/openapis/profile.openapi.yaml
  mgc/cli/openapis/virtual-machine.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  openapi-customizations/audit.openapi.yaml
  openapi-customizations/profile.openapi.yaml
  openapi-customizations/virtual-machine.openapi.yaml
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

[CLI] Enable VM snapshot copy command (#1216)
  mgc/cli/openapis/virtual-machine.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/spec_manipulator/cli_specs/conv.virtual-machine.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/virtual-machine.jaxyendy.openapi.json
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

chore: bump version to 0.29.0 (#1222)
  goreleaser_internal.yaml
  mgc/sdk/version.txt
Due: spec-stats, apply-oapi-customizations

[tf] feat: add network public ip and public ip attach resource and datasource (#1215)
  mgc/terraform-provider-mgc/docs/data-sources/network_public_ip.md
  mgc/terraform-provider-mgc/docs/resources/network_public_ips.md
  mgc/terraform-provider-mgc/docs/resources/network_public_ips_attach.md
  mgc/terraform-provider-mgc/examples/data-sources/mgc_network_public_ip/data-source.tf
  mgc/terraform-provider-mgc/examples/resources/mgc_network_public_ips/import.sh
  mgc/terraform-provider-mgc/examples/resources/mgc_network_public_ips/resource.tf
  mgc/terraform-provider-mgc/examples/resources/mgc_network_public_ips_attach/import.sh
  mgc/terraform-provider-mgc/examples/resources/mgc_network_public_ips_attach/resource.tf
  mgc/terraform-provider-mgc/mgc/datasources/mgc_net_public_ip.go
  mgc/terraform-provider-mgc/mgc/provider/provider.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_public_ips.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_public_ips_attach.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_vpcs_interfaces.go
  mgc/terraform-provider-mgc/tests/network/main.tf
Due: none

[tf] feat - network subnetpool book resource implemented (#1223)
  mgc/terraform-provider-mgc/docs/resources/network_subnetpools_book_cidr.md
  mgc/terraform-provider-mgc/examples/resources/mgc_network_subnetpools_book_cidr/resource.tf
  mgc/terraform-provider-mgc/mgc/provider/provider.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_subnetpools_book_cidr.go
  mgc/terraform-provider-mgc/tests/network/main.tf
Due: none

chore: add licensing files (#1230)
  LICENSE
  mgc/LICENSE
  mgc/terraform-provider-mgc/LICENSE
Due: none

chore: change runners (#1233)
  .github/workflows/ci.yaml
  .github/workflows/internal.yaml
  .github/workflows/release.yaml
Due: spec-stats, apply-oapi-customizations

[tf] feat: Add user data attribute to VM instances (#1234)
  mgc/terraform-provider-mgc/docs/data-sources/virtual_machine_instance.md
  mgc/terraform-provider-mgc/docs/data-sources/virtual_machine_instances.md
  mgc/terraform-provider-mgc/docs/resources/virtual_machine_instances.md
  mgc/terraform-provider-mgc/mgc/datasources/mgc_vm_machine_instance.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_vm_machine_instances.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_vm_instances.go
  mgc/terraform-provider-mgc/tests/virtual-machine/main.tf
  mgc/terraform-provider-mgc/tests/virtual-machine/provider.tf
  mgc/terraform-provider-mgc/tests/virtual_machines.tf
Due: none

[tf] fix: Fix nodepools import error (#1236)
  mgc/terraform-provider-mgc/mgc/resources/mgc_k8s_nodepool.go
Due: none

[tf] chore: Remove bookcidrs from Terraform (#1237)
  mgc/sdk/version.txt
  mgc/terraform-provider-mgc/docs/resources/network_subnetpools_book_cidr.md
  mgc/terraform-provider-mgc/mgc/provider/provider.go
  mgc/terraform-provider-mgc/tests/network/main.tf
Due: none

chore: create CODEOWNERS (#1239)
  .github/CODEOWNERS
Due: none

fix: tf - remove required api key (#1240)
  mgc/terraform-provider-mgc/mgc/client/sdk.go
Due: none

chore: bump version to v0.29.2 (#1241)
  mgc/sdk/version.txt
Due: none

chore: check duplicated paths oas (#1235)
  mgc/sdk/openapi/operation_table.go
  mgc/sdk/openapi/operation_table_test.go
  mgc/spec_manipulator/cmd/download.go
  mgc/spec_manipulator/cmd/prepare.go
  mgc/spec_manipulator/go.mod
Due: none

fix: fill storage class output field (#1232)
  mgc/sdk/static/object_storage/common/head.go
Due: none

chore: update virtual machine specifications (#1244)
  mgc/cli/docs/virtual-machine/images/list/help.md
  mgc/cli/docs/virtual-machine/instances/create/help.md
  mgc/cli/docs/virtual-machine/instances/list/help.md
  mgc/cli/docs/virtual-machine/machine-types/list/help.md
  mgc/cli/docs/virtual-machine/snapshots/list/help.md
  mgc/cli/openapis/virtual-machine.openapi.yaml
  mgc/lib/go.mod
  mgc/lib/products/doc.go
  mgc/lib/products/virtual_machine/images/list.go
  mgc/lib/products/virtual_machine/instances/get.go
  mgc/lib/products/virtual_machine/instances/list.go
  mgc/lib/products/virtual_machine/machine_types/list.go
  mgc/lib/products/virtual_machine/snapshots/copy.go
  mgc/lib/products/virtual_machine/snapshots/service.go
  mgc/sdk/openapi/embed_loader.go
  mgc/spec_manipulator/cli_specs/conv.virtual-machine.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/virtual-machine.jaxyendy.openapi.json
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

chore: update tf docs (#1243)
  .github/workflows/release.yaml
Due: spec-stats, apply-oapi-customizations

feat: add new scope pa:sa:manage (#1245)
  mgc/sdk/static/auth/login.go
Due: none

chore: update network specifications (#1246)
  mgc/cli/docs/network/security_groups/rules/create/help.md
  mgc/cli/docs/network/vpcs/create/help.md
  mgc/cli/docs/network/vpcs/subnets/create/help.md
  mgc/cli/openapis/index.openapi.yaml
  mgc/cli/openapis/network.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/spec_manipulator/cli_specs/conv.network.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/network.jaxyendy.openapi.json
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

chore: change query-param (#1247)
  mgc/sdk/openapi/operation.go
Due: none

chore: update block storage spec (#1248)
  mgc/cli/docs/block-storage/snapshots/list/help.md
  mgc/cli/docs/block-storage/volume-types/list/help.md
  mgc/cli/docs/block-storage/volumes/list/help.md
  mgc/cli/openapis/block-storage.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/spec_manipulator/cli_specs/block-storage.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/conv.block-storage.jaxyendy.openapi.json
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

chore: update scopes.json (#1249)
  mgc/sdk/static/auth/api_key/scopes.json
Due: none

chore: Update SDK version to v0.30.0 (#1250)
  mgc/sdk/version.txt
Due: none

docs: add TF guide for k8s scopes (#1252)
  mgc/terraform-provider-mgc/docs-extra/guides/k8s-cluster-creation.md
  mgc/terraform-provider-mgc/docs/guides/k8s-cluster-creation.md
Due: none

hotfix: cli spec bs (#1253)
  mgc/cli/docs/block-storage/snapshots/list/help.md
  mgc/cli/docs/block-storage/volumes/list/help.md
  mgc/cli/openapis/block-storage.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/spec_manipulator/cli_specs/block-storage.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/conv.block-storage.jaxyendy.openapi.json
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

fix: infinite loop when no API key or access token is provided (#1251)
  mgc/core/auth/auth.go
  mgc/sdk/go.mod
  mgc/sdk/go.sum
  mgc/sdk/openapi/operation.go
  mgc/sdk/openapi/operation_test.go
Due: none

feat: list bucket size (#1238)
  mgc/sdk/static/object_storage/buckets/list.go
Due: none

fix: typo on TF k8s cluster creation guide (#1254)
  mgc/terraform-provider-mgc/docs-extra/guides/k8s-cluster-creation.md
  mgc/terraform-provider-mgc/docs/guides/k8s-cluster-creation.md
Due: none

chore: add PR template to repo (#1256)
  .github/pull_request_template.md
Due: none

feat: tf - update block-storage (#1255)
  .gitignore
  .pre-commit-config.yaml
  mgc/lib/go.mod
  mgc/lib/products/block_storage/snapshots/create.go
  mgc/lib/products/block_storage/snapshots/get.go
  mgc/lib/products/block_storage/snapshots/list.go
  mgc/lib/products/block_storage/volume_types/list.go
  mgc/lib/products/block_storage/volume_types/service.go
  mgc/lib/products/block_storage/volumes/create.go
  mgc/lib/products/block_storage/volumes/get.go
  mgc/lib/products/block_storage/volumes/list.go
  mgc/lib/products/block_storage/volumes/retype.go
  mgc/terraform-provider-mgc/docs/resources/block_storage_snapshots.md
  mgc/terraform-provider-mgc/docs/resources/block_storage_volumes.md
  mgc/terraform-provider-mgc/examples/resources/mgc_block_storage_snapshots/resource.tf
  mgc/terraform-provider-mgc/examples/resources/mgc_block_storage_volumes/resource.tf
  mgc/terraform-provider-mgc/go.mod
  mgc/terraform-provider-mgc/go.sum
  mgc/terraform-provider-mgc/mgc/resources/mgc_bs_snapshots.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_bs_volumes.go
Due: spec-stats, apply-oapi-customizations

feat: Add openapi security schema HTTPBearer (#1258)
  mgc/sdk/openapi/operation.go
Due: none

chore: cli release with pr (#1260)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  goreleaser_cli.yaml
Due: spec-stats, apply-oapi-customizations

feat: tf - remove nodepool validation (#1259)
  mgc/terraform-provider-mgc/mgc/resources/mgc_k8s_nodepool.go
Due: none

chore: pr template update (#1262)
  .github/pull_request_template.md
Due: none

Path conditions:
  spec-stats: any of: \.py$, \.(yaml|yml)$
  valid-openapi-specs: any of: ^mgc/cli/openapis/(?!index).*[.]openapi[.](yaml|yml|json)$ and \.(yaml|yml)$, \.json$
  apply-oapi-customizations: any of: \.(yaml|yml)$
