Repository folkzb/magalu: changes, and which pre-commit hooks are due for each by the changed paths.
All: spec-stats, valid-openapi-specs, apply-oapi-customizations

spec-stats:
  name: spec-stats
  language: python
  entry: bash -c 'python3 ./scripts/spec_stats.py ./mgc/cli/openapis -o ./script-qa/spec_stats_dump.yml'
  stages:
  - pre-commit
  - pre-push
  additional_dependencies:
  - jsonschema
  - PyYAML
  - typing
  - argparse

valid-openapi-specs:
  name: valid-openapi-specs
  language: python
  entry: scripts/transformers/validate_openapi_specs.py
  stages:
  - pre-commit
  - pre-push
  additional_dependencies:
  - jsonschema
  - PyYAML
  - typing
  - argparse

apply-oapi-customizations:
  name: apply-oapi-customizations
  language: system
  entry: bash -c './scripts/oapi_apply_customizations.sh'
  stages:
  - pre-commit

chore: uploading docs now give public access
  .github/workflows/upload-docs.yaml
Due: spec-stats, apply-oapi-customizations

chore: adjusting upload-docs to only run when release
  .github/workflows/upload-docs.yaml
Due: spec-stats, apply-oapi-customizations

chore: Update workflow names for CI and release
  .github/workflows/ci.yaml
  .github/workflows/internal.yaml
  .github/workflows/release.yaml
Due: spec-stats, apply-oapi-customizations

feat: remove version outdated message when raw flag is used (#1100)
  mgc/cli/cmd/load_cmd_tree.go
Due: none

chore: remove txt helper generation (#1101)
  .pre-commit-config.yaml
  scripts/gen_expected_cli_full_help_output_file.sh
  scripts/gen_expected_cli_help_output.py
Due: spec-stats, apply-oapi-customizations

chore: removing old check release
  scripts/check_release.sh
Due: none

chore: adjusting pre-commit to not validate docs
  .pre-commit-config.yaml
Due: spec-stats, apply-oapi-customizations

chore: removing script for creating todo issues
  scripts/issue_todos.py
Due: spec-stats

chore: new readme art
  README.md
Due: none

chore: adjusting pipeline names
  .github/workflows/ci.yaml
Due: spec-stats, apply-oapi-customizations

chore: removing cli-dump-tree from repository (#1103)
  .gitignore
  script-qa/cli-dump-tree.json
  scripts/gen_expected_cli_doc_output_file.sh
  scripts/gen_expected_cli_dump_tree_output_file.sh
Due: none

chore: removing spec_stats from repository (#1104)
  .github/workflows/upload-docs.yaml
  .gitignore
  .pre-commit-config.yaml
  script-qa/spec_stats_dump.yml
Due: spec-stats, apply-oapi-customizations

chore: adjusting pipeline names (#1105)
  .github/workflows/ci.yaml
  scripts/gen_expected_cli_doc_output.py
Due: spec-stats, apply-oapi-customizations

chore: adjusting pipeline names (#1106)
  mgc/terraform-provider-mgc/internal/provider/schema.go
Due: none

chore: Refactor handleResultWithReader to support YAML output (#1108)
  mgc/cli/cmd/cmd_result_format.go
  mgc/cli/go.mod
  mgc/sdk/openapi/operation.go
Due: none

feat: add storage class to objects (#1107)
  mgc/sdk/static/object_storage/common/bigfile_copier.go
  mgc/sdk/static/object_storage/common/bigfile_uploader.go
  mgc/sdk/static/object_storage/common/copy.go
  mgc/sdk/static/object_storage/common/head.go
  mgc/sdk/static/object_storage/common/list.go
  mgc/sdk/static/object_storage/common/smallfile_copier.go
  mgc/sdk/static/object_storage/common/smallfile_uploader.go
  mgc/sdk/static/object_storage/common/uploader.go
  mgc/sdk/static/object_storage/objects/copy.go
  mgc/sdk/static/object_storage/objects/upload.go
  mgc/sdk/static/object_storage/objects/upload_dir.go
Due: none

feat: Add Kubernetes cluster kubeconfig Terraform datasource (#1110)
  mgc/cli/docs/object-storage/objects/copy-all/help.md
  mgc/cli/docs/object-storage/objects/copy/help.md
  mgc/cli/docs/object-storage/objects/upload-dir/help.md
  mgc/cli/docs/object-storage/objects/upload/help.md
  mgc/lib/helpers/converters.go
  mgc/lib/products/kubernetes/cluster/kubeconfig.go
  mgc/lib/products/kubernetes/cluster/service.go
  mgc/terraform-provider-mgc/docs/data-sources/kubernetes_cluster_kubeconfig.md
  mgc/terraform-provider-mgc/go.mod
  mgc/terraform-provider-mgc/go.sum
  mgc/terraform-provider-mgc/internal/provider/mgc_datasource_k8s_kubeconfig.go
  mgc/terraform-provider-mgc/internal/provider/provider.go
Due: none

chore: Adjust tf vm to not use blocks (#1112)
  goreleaser_internal_terraform.yaml
  mgc/terraform-provider-mgc/internal/provider/mgc_virtual_machine_instances.go
  mgc/terraform-provider-mgc/internal/provider/mgc_virtual_machine_snapshots.go
Due: spec-stats, apply-oapi-customizations

Revert "feat: api-key in objects renamed to key-pair" (#1097) (#1111)
  mgc/cli/docs/object-storage/api-key/add/help.md
  mgc/cli/docs/object-storage/api-key/create/help.md
  mgc/cli/docs/object-storage/api-key/current/help.md
  mgc/cli/docs/object-storage/api-key/get/help.md
  mgc/cli/docs/object-storage/api-key/help.md
  mgc/cli/docs/object-storage/api-key/list/help.md
  mgc/cli/docs/object-storage/api-key/revoke/help.md
  mgc/cli/docs/object-storage/api-key/set/help.md
  mgc/cli/docs/object-storage/help.md
  mgc/cli/docs/object-storage/key-pair/create/help.md
  mgc/sdk/static/object_storage/api_key/add.go
  mgc/sdk/static/object_storage/api_key/common.go
  mgc/sdk/static/object_storage/api_key/create.go
  mgc/sdk/static/object_storage/api_key/current.go
  mgc/sdk/static/object_storage/api_key/get.go
  mgc/sdk/static/object_storage/api_key/group.go
  mgc/sdk/static/object_storage/api_key/list.go
  mgc/sdk/static/object_storage/api_key/logger.go
  mgc/sdk/static/object_storage/api_key/revoke.go
  mgc/sdk/static/object_storage/api_key/set.go
  mgc/sdk/static/object_storage/group.go
Due: none

feat: New TF resources implementations (#1113)
  mgc/terraform-provider-mgc/docs/resources/virtual_machine_instances.md
  mgc/terraform-provider-mgc/docs/resources/virtual_machine_snapshots.md
  mgc/terraform-provider-mgc/internal/provider/mgc_virtual_machine_instances.go
  mgc/terraform-provider-mgc/internal/provider/provider.go
Due: none

feat: Rename VM TF resources and implement volume attach SDK (#1114)
  mgc/terraform-provider-mgc/docs/resources/block_storage_volume_attachment.md
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_vm_instances.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_vm_snapshots.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_volume_attach.go
  mgc/terraform-provider-mgc/internal/provider/provider.go
Due: none

feat: Add function to retrieve configurations from tags (#1115)
  mgc/terraform-provider-mgc/docs/resources/virtual_machine_instances.md
  mgc/terraform-provider-mgc/docs/resources/virtual_machine_snapshots.md
  mgc/terraform-provider-mgc/internal/provider/config.go
  mgc/terraform-provider-mgc/internal/provider/config_test.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_vm_instances.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_vm_snapshots.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_volume_attach.go
Due: none

feat: Add mutex locks to VM resource functions
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_vm_instances.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_vm_snapshots.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_volume_attach.go
Due: none

feat: updating specs
  mgc/cli/cli_specs/block-storage.jaxyendy.openapi.json
  mgc/cli/cli_specs/container-registry.openapi.yaml
  mgc/cli/cli_specs/database.jaxyendy.openapi.yaml
  mgc/cli/cli_specs/kubernetes.jaxyendy.openapi.json
  mgc/cli/cli_specs/network.jaxyendy.openapi.json
  mgc/cli/cli_specs/virtual-machine-xaas.jaxyendy.openapi.json
  mgc/cli/cli_specs/virtual-machine.jaxyendy.openapi.json
  mgc/cli/docs/kubernetes/cluster/create/help.md
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/cli/openapis/index.openapi.yaml
  mgc/cli/openapis/kubernetes.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/spec_manipulator/cmd/root.go
  mgc/terraform-provider-mgc/docs/resources/dbaas_instances_backups.md
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

chore: updated to version 21
  mgc/sdk/version.txt
Due: none

chore: version v0.21.1 (#1118)
  mgc/sdk/version.txt
  mgc/spec_manipulator/cli_specs/block-storage.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/conv.block-storage.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/conv.network.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/conv.virtual-machine-xaas.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/conv.virtual-machine.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/virtual-machine-xaas.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/virtual-machine.jaxyendy.openapi.json
  mgc/spec_manipulator/cmd/downgrade.go
  mgc/spec_manipulator/cmd/download.go
  mgc/spec_manipulator/cmd/list.go
  mgc/spec_manipulator/cmd/prepare.go
  mgc/spec_manipulator/cmd/root.go
Due: none

chore: version v0.21.1 (#1119)
  mgc/cli/docs/virtual-machine/images/help.md
  mgc/cli/docs/virtual-machine/images/list/help.md
  mgc/cli/docs/virtual-machine/instances/create/help.md
  mgc/cli/docs/virtual-machine/instances/help.md
  mgc/cli/docs/virtual-machine/instances/network-interface/attach/help.md
  mgc/cli/docs/virtual-machine/instances/network-interface/detach/help.md
  mgc/cli/docs/virtual-machine/instances/network-interface/help.md
  mgc/cli/docs/virtual-machine/instances/port/attach/help.md
  mgc/cli/docs/virtual-machine/instances/port/detach/help.md
  mgc/cli/docs/virtual-machine/instances/port/help.md
  mgc/cli/docs/virtual-machine/instances/reboot/help.md
  mgc/cli/docs/virtual-machine/machine-types/help.md
  mgc/cli/docs/virtual-machine/snapshots/help.md
  mgc/cli/openapis/virtual-machine.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

feat: Implement object storage bucket Terraform SDK (#1120)
  mgc/terraform-provider-mgc/docs/resources/object_storage_buckets.md
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_objectstorage_buckets.go
  mgc/terraform-provider-mgc/internal/provider/provider.go
Due: none

feat: Add mutex locks to object storage bucket resource functions
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_objectstorage_buckets.go
Due: none

feat: Add API key flag to CLI command
  mgc/cli/cmd/apiKey_flag.go
  mgc/cli/cmd/root.go
Due: none

feat: add container registry alias to CLI
  mgc/cli/cmd/alias.yml
  mgc/cli/docs/block-storage/help.md
  mgc/cli/docs/container-registry/help.md
  mgc/cli/docs/object-storage/help.md
Due: spec-stats, apply-oapi-customizations

feat: remove mutex from terraform provider (#1124)
  mgc/core/ref_resolver.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_objectstorage_buckets.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_vm_instances.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_vm_snapshots.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_volume_attach.go
Due: none

feat: refact tf bs (#1125)
  mgc/sdk/version_development.go
  mgc/terraform-provider-mgc/docs/resources/block_storage_snapshots.md
  mgc/terraform-provider-mgc/docs/resources/block_storage_volumes.md
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_block_storage_snapshots.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_block_storage_volumes.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_vm_instances.go
  mgc/terraform-provider-mgc/internal/provider/provider.go
Due: none

feat: refactor block storage (#1126)
  mgc/cli/go.mod
  mgc/cli/go.sum
  mgc/codegen/go.mod
  mgc/codegen/go.sum
  mgc/lib/go.mod
  mgc/lib/go.sum
  mgc/sdk/go.mod
  mgc/sdk/go.sum
  mgc/sdk/static/object_storage/buckets/create.go
  mgc/terraform-provider-mgc/go.mod
  mgc/terraform-provider-mgc/go.sum
Due: none

fix: tf refactor bs (#1127)
  mgc/cli/docs/object-storage/buckets/create/help.md
  mgc/cli/go.mod
  mgc/cli/go.sum
  mgc/codegen/go.mod
  mgc/codegen/go.sum
  mgc/lib/go.mod
  mgc/lib/go.sum
  mgc/sdk/go.mod
  mgc/sdk/go.sum
  mgc/sdk/static/object_storage/buckets/create.go
  mgc/terraform-provider-mgc/docs/resources/block_storage_volumes.md
  mgc/terraform-provider-mgc/go.mod
  mgc/terraform-provider-mgc/go.sum
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_block_storage_snapshots.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_block_storage_volumes.go
Due: none

chore: change confirm message (#1128)
  mgc/cli/cmd/dump_tree.go
  mgc/cli/cmd/load_cmd_tree.go
  mgc/cli/cmd/root.go
  mgc/cli/docs/help.md
  mgc/core/confirmable_executor.go
  mgc/core/descriptor.go
  mgc/sdk/static/auth/group.go
  mgc/sdk/static/config/group.go
  mgc/sdk/static/http/group.go
  mgc/sdk/static/object_storage/group.go
  mgc/sdk/static/profile/group.go
Due: none

chore: specific user agent (#1129)
  mgc/cli/main.go
  mgc/sdk/sdk.go
  mgc/sdk/version.txt
  mgc/sdk/version_development.go
  mgc/terraform-provider-mgc/internal/provider/provider.go
Due: none

Path conditions:
  spec-stats: any of: \.py$, \.(yaml|yml)$
  valid-openapi-specs: any of: ^mgc/cli/openapis/(?!index).*[.]openapi[.](yaml|yml|json)$ and \.(yaml|yml)$, \.json$
  apply-oapi-customizations: any of: \.(yaml|yml)$
