Repository folkzb/magalu: changes, and which pre-commit hooks are due for each by the changed paths.
All: spec-stats, valid-openapi-specs

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push, commit-msg]
repos:
-   repo: local
    hooks:
    -   id: spec-stats
        name: spec-stats
        language: python
        entry: bash -c 'python3 ./scripts/spec_stats.py ./mgc/cli/openapis -o ./script-qa/spec_stats_dump.yml'
        types_or: [python, yaml]
        stages: [pre-push]
        additional_dependencies: [jsonschema, PyYAML, typing, argparse]
    -   id: go-test
        name: go-test
        language: golang
        entry: bash -c 'find . -name go.mod -execdir go test ./... \; | grep -zqv FAIL'
        stages: [pre-push]
    -   id: valid-openapi-specs
        name: valid-openapi-specs
        language: python
        entry: scripts/transformers/validate_openapi_specs.py
        files: ^mgc/cli/openapis/(?!index).*[.]openapi[.](yaml|yml|json)$
        types_or: [yaml, json]
        stages: [pre-commit, pre-push]
        additional_dependencies: [jsonschema, PyYAML, typing, argparse]
    -   id: check-cli-help-outputs
        name: check "cli help" outputs
        language: system
        entry: bash -c './scripts/gen_expected_cli_full_help_output_file.sh'
        require_serial: true
        stages: [pre-commit]
    -   id: oapi-index-gen
        name: oapi-index-gen
        language: system
        entry: bash -c './scripts/oapi_index_gen.sh'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        stages: [pre-commit, pre-push]
        exclude: ^script-qa/
    -   id: end-of-file-fixer
        stages: [pre-commit, pre-push]
        exclude: >
          (?x)(
            ^mgc/sdk/version.txt|
            ^script-qa/
          )
    -   id: check-yaml
        stages: [pre-commit, pre-push]
    -   id: check-added-large-files
        stages: [pre-commit, pre-push]
    -   id: check-shebang-scripts-are-executable
        stages: [pre-commit, pre-push]
    -   id: check-merge-conflict
        stages: [pre-commit, pre-push]
    -   id: mixed-line-ending
        stages: [pre-commit, pre-push]

-   repo: https://github.com/golangci/golangci-lint
    rev: v1.54.2
    hooks:
    -   id: golangci-lint
        stages: [pre-commit]
        # Need to specify manually due to this issue:
        # https://github.com/golangci/golangci-lint/issues/2654
        entry: bash -c "go list -f '{{.Dir}}/...' -m | xargs golangci-lint run --fix --new-from-rev HEAD"

-   repo: https://github.com/golangci/golangci-lint
    rev: v1.54.2
    hooks:
    -   id: golangci-lint
        stages: [pre-push]
        # Need to specify manually due to this issue:
        # https://github.com/golangci/golangci-lint/issues/2654
        entry: bash -c "go list -f '{{.Dir}}/...' -m | xargs golangci-lint run --fix"

-   repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
    -   id: go-mod-tidy
        stages: [pre-commit]

-   repo: https://github.com/commitizen-tools/commitizen
    rev: 3.10.0
    hooks:
    -   id: commitizen
        stages: [commit-msg]

-   repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
    -   id: flake8
        stages: [pre-commit, pre-push]
        additional_dependencies:
          - flake8-builtins
          - flake8-colors
          - flake8-comprehensions
          - flake8-deprecated
          - flake8-module-name
          - flake8-print
          - flake8-requirements
          - flake8-rst-docstrings
          - flake8-tidy-imports

-   repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
    -   id: black
        stages: [pre-commit, pre-push]

feat: adding blueprint index gen script on pre-commit
  .pre-commit-config.yaml
  mgc/sdk/blueprint/embed_loader.go
  scripts/blueprint_index_gen.sh
Due: spec-stats

feat(object-storage): allow passing multiple filter flags
  mgc/sdk/static/object_storage/common/delete.go
  mgc/sdk/static/object_storage/common/filter.go
  mgc/sdk/static/object_storage/objects/download_all.go
  mgc/sdk/static/object_storage/objects/list.go
  mgc/sdk/static/object_storage/objects/upload_dir.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/objects/delete-all/help.txt
  script-qa/cli-help/object-storage/objects/download-all/help.txt
  script-qa/cli-help/object-storage/objects/list/help.txt
  script-qa/cli-help/object-storage/objects/upload-dir/help.txt
Due: none

fix(progress-bar): set total when reporting
  mgc/cli/ui/progress_bar/progress_bar.go
Due: none

fix(object-storage): avoid total progress being reached early
  mgc/sdk/static/object_storage/objects/download_all.go
Due: none

feat(object-storage): update download progress bar
  mgc/sdk/static/object_storage/common/download.go
  mgc/sdk/static/object_storage/objects/download.go
  mgc/sdk/static/object_storage/objects/download_all.go
Due: none

feat(object-storage): update download-all progress bar
  mgc/sdk/static/object_storage/objects/download_all.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/objects/download-all/help.txt
Due: none

feat(progress-bar): expand message and sort by percent
  mgc/cli/ui/progress_bar/progress_bar.go
Due: none

fix(object-storage): delete progress bar default animation
  mgc/sdk/static/object_storage/common/delete.go
Due: none

fix(object-storage): copy progress bar default animation
  mgc/sdk/static/object_storage/objects/copy.go
Due: none

feat(object-storage): add callback to ListGenerator
  mgc/sdk/static/object_storage/common/delete.go
  mgc/sdk/static/object_storage/common/list.go
  mgc/sdk/static/object_storage/objects/download_all.go
  mgc/sdk/static/object_storage/objects/list.go
Due: none

feat(object-storage): update delete-all progress bar
  mgc/sdk/static/object_storage/common/delete.go
Due: none

refactor(object-storage): remove batch from download-all
  mgc/sdk/static/object_storage/objects/download_all.go
Due: none

refactor(object-storage): export minimum batch size variable
  mgc/sdk/static/object_storage/common/const.go
  mgc/sdk/static/object_storage/common/delete.go
Due: none

chore: api2.magalu.cloud to api.magalu.cloud
  mgc/cli/openapis/block-storage.openapi.yaml
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/cli/openapis/mke.openapi.yaml
  mgc/cli/openapis/network.openapi.yaml
  mgc/cli/openapis/virtual-machine.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  openapi-customizations/block-storage.openapi.yaml
  openapi-customizations/dbaas.openapi.yaml
  openapi-customizations/mke.openapi.yaml
  openapi-customizations/network.openapi.yaml
  openapi-customizations/object-storage.openapi.yaml
  openapi-customizations/virtual-machine.openapi.yaml
  scripts/add_specs.sh
Due: spec-stats, valid-openapi-specs

fix(object-storage): handle prefix on copy request header
  mgc/sdk/static/object_storage/objects/copy.go
Due: none

fix(openapi): force subresources to be internal if all children are
  mgc/sdk/openapi/resource.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/network/security_group/help.txt
  script-qa/cli-help/network/vpc/help.txt
Due: none

fix(script): fix name of generated param links
  scripts/transformers/spec_create_links.py
Due: spec-stats

fix(script): avoid crashes on link scripts
  scripts/transformers/spec_check_links.py
  scripts/transformers/spec_create_links.py
Due: spec-stats

feat(network): update spec
  mgc/cli/openapis/index.openapi.yaml
  mgc/cli/openapis/network.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/terraform-provider-mgc/docs/resources/network_port_attach.md
  mgc/terraform-provider-mgc/docs/resources/network_public_ip_attach.md
  openapi-customizations/network.openapi.yaml
  script-qa/cli-dump-tree.json
  script-qa/cli-help/network/help.txt
  script-qa/cli-help/network/port/help.txt
  script-qa/cli-help/network/quotas/help.txt
  script-qa/cli-help/network/security_group/help.txt
  script-qa/cli-help/network/vpc/help.txt
  script-qa/cli-help/network/vpc/security-groups/help.txt
  script-qa/spec_stats_dump.yml
Due: spec-stats, valid-openapi-specs

chore: bump version to v0.14.1
  mgc/sdk/version.txt
Due: none

fix(object-storage): check if uploading to root
  mgc/sdk/static/object_storage/objects/upload.go
Due: none

feat(object-storage): add function to check if URI is root
  mgc/core/schema/types.go
Due: none

fix(object-storage): remove url encoding from list request
  mgc/sdk/static/object_storage/common/list.go
Due: none

feat(filter): add 'FilterRuleAnd' rule
  mgc/core/pipeline/filter.go
Due: none

refactor(object-storage): use 'FilterRuleAnd' filter for applying filters
  mgc/sdk/static/object_storage/common/filter.go
Due: none

feat: add support to customize path tags
  openapi-customizations/network.openapi.yaml
  scripts/yaml_merge.py
Due: spec-stats

fix(tf): rename variable that was shadowing native 'delete' function
  mgc/terraform-provider-mgc/internal/provider/schema_test.go
Due: none

fix(tf): make connection resource links specific
  mgc/cli/openapis/block-storage.openapi.yaml
  mgc/cli/openapis/network.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/terraform-provider-mgc/docs/resources/dbaas_instances_resize.md
  mgc/terraform-provider-mgc/docs/resources/dbaas_instances_restores.md
  mgc/terraform-provider-mgc/docs/resources/dbaas_instances_start.md
  mgc/terraform-provider-mgc/docs/resources/dbaas_instances_stop.md
  mgc/terraform-provider-mgc/internal/provider/connection_resource.go
  openapi-customizations/block-storage.openapi.yaml
  openapi-customizations/network.openapi.yaml
Due: spec-stats, valid-openapi-specs

feat(dbaas): give ability to resize via prop setter
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  openapi-customizations/dbaas.openapi.yaml
Due: spec-stats, valid-openapi-specs

fix(dbaas): remove wrong 'get' link
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
Due: spec-stats, valid-openapi-specs

fix(tf): allow empty values, as not all operations return something
  mgc/core/schema/schema.go
  mgc/terraform-provider-mgc/internal/provider/execute.go
Due: none

refactor: export private functions
  mgc/core/http/http.go
  mgc/core/utils/assign_to.go
Due: none

feat(object-storage): add specific functions to handle HTTP responses
  mgc/sdk/static/object_storage/common/http.go
Due: none

fix(object-storage): correctly check and decode errors
  mgc/core/http/http.go
  mgc/sdk/static/object_storage/buckets/create.go
  mgc/sdk/static/object_storage/buckets/list.go
  mgc/sdk/static/object_storage/common/bigfile_uploader.go
  mgc/sdk/static/object_storage/common/delete.go
  mgc/sdk/static/object_storage/common/list.go
  mgc/sdk/static/object_storage/common/session.go
  mgc/sdk/static/object_storage/common/smallfile_uploader.go
  mgc/sdk/static/object_storage/objects/copy.go
  mgc/sdk/static/object_storage/objects/download.go
  mgc/sdk/static/object_storage/objects/download_all.go
Due: none

feat(object-storage): add head command
  mgc/sdk/static/object_storage/common/const.go
  mgc/sdk/static/object_storage/objects/group.go
  mgc/sdk/static/object_storage/objects/head.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/objects/head/help.txt
  script-qa/cli-help/object-storage/objects/help.txt
Due: none

refactor(object-storage): use downloadSingleFile for download-all
  mgc/sdk/static/object_storage/objects/download_all.go
Due: none

fix(object-storage): don't skip on download-all error
  mgc/sdk/static/object_storage/objects/download_all.go
Due: none

docs: improve x-mgc extensions docs
  mgc/sdk/openapi/README.md
Due: none
