Repository folkzb/magalu: changes, and which pre-commit hooks are due for each by the changed paths.
All: spec-stats, valid-openapi-specs, apply-oapi-customizations

Path conditions:
  spec-stats: any of: \.py$, \.(yaml|yml)$
  valid-openapi-specs: any of: ^mgc/cli/openapis/(?!index).*[.]openapi[.](yaml|yml|json)$ and \.(yaml|yml)$, \.json$
  apply-oapi-customizations: any of: \.(yaml|yml)$

fix: issue 873 - hidden acl flags (#969)
  mgc/lib/products/object_storage/buckets/acl/get.go
  mgc/lib/products/object_storage/buckets/acl/set.go
  mgc/sdk/static/object_storage/buckets/acl/get.go
  mgc/sdk/static/object_storage/buckets/acl/set.go
  mgc/sdk/static/object_storage/objects/acl/set.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/buckets/acl/get/help.txt
  script-qa/cli-help/object-storage/buckets/acl/set/help.txt
  script-qa/cli-help/object-storage/objects/acl/set/help.txt
Due: none

chore: bump to version v0.18.6-rc3 (#979)
  mgc/lib/go.mod
  mgc/lib/products/doc.go
  mgc/sdk/version.txt
Due: none

fix: update gpg passphrase env (#980)
  goreleaser_terraform.yaml
Due: spec-stats, apply-oapi-customizations

chore: bump to version v0.18.6-rc3
  .github/workflows/ci.yaml
Due: spec-stats, apply-oapi-customizations

chore: change go releaser (#981)
  .github/workflows/ci.yaml
Due: spec-stats, apply-oapi-customizations

chore: change goreleaser3 (#982)
  mgc/lib/go.mod
  mgc/lib/products/doc.go
  mgc/sdk/version.txt
Due: none

build: use s3-tester container to work as smoke-tests (#971)
  .github/workflows/ci.yaml
Due: spec-stats, apply-oapi-customizations

chore: testing gpg import (#984)
  .github/workflows/ci.yaml
  .github/workflows/test.txt
Due: spec-stats, apply-oapi-customizations

chore: testing gpg import
  .github/workflows/ci.yaml
  mgc/sdk/version.txt
Due: spec-stats, apply-oapi-customizations

chore: change release method (#983)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  mgc/sdk/version.txt
  scripts/codegen_lib.sh
Due: spec-stats, apply-oapi-customizations

chore: add new script
  check_release_v2.sh
Due: none

chore: add new script
  scripts/check_release_v2.sh
Due: none

chore: testing gpg validation (#988)
  .github/workflows/release.yaml
Due: spec-stats, apply-oapi-customizations

fix: general (#989)
  .github/workflows/ci.yaml
  mgc/sdk/static/object_storage/buckets/acl/set.go
  mgc/sdk/static/object_storage/buckets/create.go
  mgc/sdk/static/object_storage/common/config.go
  mgc/sdk/static/object_storage/common/delete.go
  mgc/sdk/static/object_storage/objects/sync.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/buckets/create/help.txt
Due: spec-stats, apply-oapi-customizations

fix: gpg validation (#991)
  .github/workflows/release.yaml
  .github/workflows/test.txt
  goreleaser_terraform.yaml
Due: spec-stats, apply-oapi-customizations

fix: presing duration (#992)
  mgc/sdk/static/object_storage/objects/acl/get.go
  mgc/sdk/static/object_storage/objects/presign.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/objects/presign/help.txt
Due: none

fix: codegen
  mgc/lib/products/object_storage/objects/presign.go
  scripts/codegen_lib.sh
Due: none

fix: codegen
  scripts/codegen_lib.sh
Due: none

chore: change goreleaser
  .github/workflows/release.yaml
  goreleaser_cli.yaml
Due: spec-stats, apply-oapi-customizations

chore: change goreleaser
  .github/workflows/release.yaml
Due: spec-stats, apply-oapi-customizations

chore: change goreleaser
  goreleaser_cli.yaml
Due: spec-stats, apply-oapi-customizations

chore: change goreleaser
  goreleaser_cli.yaml
  mgc/sdk/version.txt
Due: spec-stats, apply-oapi-customizations

chore: change goreleaser
  mgc/lib/go.mod
  mgc/lib/products/doc.go
Due: none

fix: error when create bucket with % (#993)
  mgc/lib/go.mod
  mgc/lib/products/doc.go
  mgc/sdk/static/object_storage/common/session.go
  mgc/sdk/version.txt
Due: none

feat: set apikey after creation (#994)
  mgc/core/auth/auth.go
  mgc/lib/products/object_storage/api_key/create.go
  mgc/lib/products/object_storage/buckets/create.go
  mgc/sdk/static/object_storage/api_key/common.go
  mgc/sdk/static/object_storage/api_key/create.go
  mgc/sdk/static/object_storage/buckets/create.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/buckets/create/help.txt
Due: none

fix: make serverurl trailing slash optional (#995)
  mgc/sdk/static/object_storage/common/const.go
  mgc/sdk/static/object_storage/common/session.go
Due: none

fix: set api-key after creation (#997)
  mgc/lib/go.mod
  mgc/lib/products/doc.go
  mgc/sdk/static/object_storage/api_key/create.go
  mgc/sdk/version.txt
Due: none

chore: bump to version v0.18.6
  mgc/lib/go.mod
  mgc/lib/products/doc.go
  mgc/sdk/version.txt
Due: none

feature: terraform provider adjust (#999)
  goreleaser_terraform.yaml
  mgc/terraform-provider-mgc/terraform-registry-manifest.json
Due: spec-stats, apply-oapi-customizations

fix: zip format (#1001)
  goreleaser_terraform.yaml
Due: spec-stats, apply-oapi-customizations

chore: bump to version v0.18.9 (#1002)
  mgc/sdk/version.txt
Due: none

refactor: rename flags (#996)
  mgc/cli/cmd/bypass_confirmation.go
  mgc/sdk/static/object_storage/buckets/delete.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/buckets/delete/help.txt
Due: none

feat: remove machine_id from attachment and use machine object (#1000)
  mgc/cli/blueprints/block-storage.blueprint.yaml
  mgc/cli/openapis/block-storage.openapi.yaml
  mgc/lib/products/block_storage/volumes/get.go
  mgc/lib/products/block_storage/volumes/list.go
  mgc/sdk/blueprint/embed_loader.go
  mgc/sdk/openapi/embed_loader.go
  mgc/terraform-provider-mgc/docs/resources/block-storage_volumes.md
  script-qa/cli-dump-tree.json
  script-qa/spec_stats_dump.yml
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

Release - unfreeze (#1009)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  mgc/core/auth/auth.go
  mgc/core/auth/auth_test.go
  mgc/core/http/http_retry.go
  mgc/core/simple_executor.go
  mgc/lib/go.mod
  mgc/lib/products/doc.go
  mgc/sdk/blueprint/executor.go
  mgc/sdk/static/object_storage/objects/presign.go
  mgc/sdk/version.go
  mgc/sdk/version_development.go
  scripts/codegen_lib.sh
Due: spec-stats, apply-oapi-customizations

chore: change internal release
  .github/workflows/ci.yaml
  .github/workflows/internal.yaml
  .github/workflows/release.yaml
  goreleaser_internal_cli.yaml
  mgc/cli/openapis/block-storage.openapi.yaml
  mgc/codegen/go.mod
  mgc/sdk/openapi/embed_loader.go
  mgc/sdk/version.go
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

fix: sdk version (#1013)
  .github/workflows/ci.yaml
  mgc/lib/go.mod
  mgc/lib/products/block_storage/volumes/get.go
  mgc/lib/products/block_storage/volumes/list.go
  mgc/lib/products/doc.go
  mgc/lib/products/object_storage/buckets/delete.go
  mgc/sdk/version.go
Due: spec-stats, apply-oapi-customizations
