Repository folkzb/magalu: changes, and which pre-commit hooks are due for each by the changed paths.
All: spec-stats, valid-openapi-specs, apply-oapi-customizations

spec-stats:
  name: spec-stats
  language: python
  entry: bash -c 'python3 ./scripts/spec_stats.py ./mgc/cli/openapis -o ./script-qa/spec_stats_dump.yml'
  stages:
  - pre-commit
  - pre-push
  additional_dependencies:
  - jsonschema
  - PyYAML
  - typing
  - argparse

valid-openapi-specs:
  name: valid-openapi-specs
  language: python
  entry: scripts/transformers/validate_openapi_specs.py
  stages:
  - pre-commit
  - pre-push
  additional_dependencies:
  - jsonschema
  - PyYAML
  - typing
  - argparse

apply-oapi-customizations:
  name: apply-oapi-customizations
  language: system
  entry: bash -c './scripts/oapi_apply_customizations.sh'
  stages:
  - pre-commit

fix: parse flags regardless of order (#1007)
  mgc/cli/cmd/root.go
Due: none

fix: change dev release (#1014)
  .github/workflows/internal.yaml
Due: spec-stats, apply-oapi-customizations

fix: change dev release (#1016)
  .github/workflows/ci.yaml
  .github/workflows/internal.yaml
  .github/workflows/release.yaml
Due: spec-stats, apply-oapi-customizations

Feat/observations (#1006)
  mgc/cli/cmd/load_cmd_tree.go
  mgc/core/descriptor.go
  mgc/sdk/openapi/resource.go
  mgc/sdk/static/object_storage/buckets/acl/set.go
  mgc/sdk/static/object_storage/objects/acl/get.go
  script-qa/cli-help/object-storage/buckets/acl/set/help.txt
  script-qa/cli-help/object-storage/objects/acl/get/help.txt
Due: none

fix: change dev release (#1018)
  .github/workflows/internal.yaml
Due: spec-stats, apply-oapi-customizations

feature: added version checker to cli (#1017)
  .github/workflows/ci.yaml
  .github/workflows/internal.yaml
  .github/workflows/release.yaml
  .gitignore
  mgc/cli/cmd/load_cmd_tree.go
  mgc/cli/go.mod
  mgc/cli/go.sum
  mgc/core/version_checker.go
  mgc/core/version_checker_test.go
  mgc/sdk/go.mod
  mgc/sdk/go.sum
Due: spec-stats, apply-oapi-customizations

fix: change yaml github action (#1020)
  .github/workflows/ci.yaml
  .github/workflows/internal.yaml
  .github/workflows/release.yaml
  mgc/lib/go.mod
  mgc/lib/go.sum
  mgc/lib/products/doc.go
  mgc/sdk/version.txt
Due: spec-stats, apply-oapi-customizations

fix: sdk usabilitiy (#1021)
  .pre-commit-config.yaml
  goreleaser_internal_cli.yaml
  mgc/codegen/go.mod
  mgc/codegen/go.sum
  mgc/terraform-provider-mgc/go.mod
  mgc/terraform-provider-mgc/go.sum
  scripts/codegen_lib.sh
Due: spec-stats, apply-oapi-customizations

feature: new login page (#1025)
  mgc/sdk/static/auth/success.html
Due: none

chore: update openapi specs (#1024)
  mgc/cli/openapis/block-storage.openapi.yaml
  mgc/cli/openapis/index.openapi.yaml
  mgc/cli/openapis/kubernetes.openapi.yaml
  mgc/cli/openapis/network.openapi.yaml
  mgc/cli/openapis/virtual-machine.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/terraform-provider-mgc/docs/resources/block-storage_volumes.md
  mgc/terraform-provider-mgc/docs/resources/kubernetes_cluster.md
  mgc/terraform-provider-mgc/docs/resources/kubernetes_nodepool.md
  mgc/terraform-provider-mgc/docs/resources/network_security_groups.md
  script-qa/cli-dump-tree.json
  script-qa/cli-help/kubernetes/nodepool/create/help.txt
  script-qa/cli-help/network/ports/create-default-vpc/help.txt
  script-qa/cli-help/network/ports/create/help.txt
  script-qa/cli-help/network/quotas/list/help.txt
  script-qa/cli-help/network/rules/create/help.txt
  script-qa/cli-help/network/security_groups/create/help.txt
  script-qa/cli-help/network/security_groups/rules/create/help.txt
  script-qa/cli-help/network/subnets/vpcs-subnets/create/help.txt
  script-qa/cli-help/network/vpcs/ports/create/help.txt
  script-qa/cli-help/virtual-machine/instances/help.txt
  script-qa/spec_stats_dump.yml
  scripts/add_all_specs.sh
  scripts/transformers/spec_version_convert.py
  scripts/transformers/validate_openapi_specs.py
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

feat/api-key-support-for-sdk (#998)
  mgc/core/auth/auth.go
  mgc/lib/products/auth/api_key.go
  mgc/sdk/openapi/operation.go
Due: none

chore: update lib (#1028)
  mgc/lib/go.mod
  mgc/lib/go.sum
  mgc/lib/products/doc.go
  mgc/sdk/version.txt
Due: none

chore: update lib (#1029)
  .github/workflows/internal.yaml
Due: spec-stats, apply-oapi-customizations

feature: the api-key will be unset when tenant change (#1030)
  mgc/core/auth/auth.go
  mgc/sdk/static/auth/tenant/set.go
  mgc/sdk/static/object_storage/api_key/current.go
  mgc/sdk/static/object_storage/api_key/get.go
  script-qa/cli-doc/auth/tenant/help.md
  script-qa/cli-doc/auth/tenant/set/help.md
  script-qa/cli-dump-tree.json
  script-qa/cli-help/auth/tenant/help.txt
  script-qa/cli-help/auth/tenant/set/help.txt
Due: none

chore: prepare version (#1031)
  .github/workflows/internal.yaml
  goreleaser_cli.yaml
  goreleaser_internal_cli.yaml
  goreleaser_terraform.yaml
  mgc/cli/openapis/block-storage.openapi.yaml
  mgc/cli/openapis/kubernetes.openapi.yaml
  mgc/cli/openapis/virtual-machine.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/terraform-provider-mgc/docs/resources/block-storage_volumes.md
  mgc/terraform-provider-mgc/docs/resources/kubernetes_cluster.md
  script-qa/cli-doc/kubernetes/cluster/create/help.md
  script-qa/cli-dump-tree.json
  script-qa/cli-help/kubernetes/cluster/create/help.txt
  script-qa/spec_stats_dump.yml
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

chore: prepare version (#1032)
  mgc/lib/go.mod
  mgc/lib/go.sum
  mgc/lib/products/auth/tenant/set.go
  mgc/lib/products/block_storage/volumes/get.go
  mgc/lib/products/block_storage/volumes/list.go
  mgc/lib/products/doc.go
  mgc/lib/products/kubernetes/cluster/create.go
  mgc/lib/products/virtual_machine/machine_types/list.go
  mgc/sdk/version.txt
Due: none

chore: bump to version v0.18.10-rc3
  .github/workflows/release.yaml
Due: spec-stats, apply-oapi-customizations

fix: flag validation with wrong name (#1034)
  mgc/cli/cmd/root.go
Due: none

chore: update specs (#1035)
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/cli/openapis/index.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/terraform-provider-mgc/docs/resources/dbaas_instances.md
  mgc/terraform-provider-mgc/docs/resources/dbaas_replicas.md
  script-qa/cli-doc/dbaas/instances/create/help.md
  script-qa/cli-dump-tree.json
  script-qa/cli-help/dbaas/instances/create/help.txt
  script-qa/spec_stats_dump.yml
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

feature: added alias to commands (#1037)
  .gitignore
  mgc/cli/cmd/alias.yml
  mgc/cli/cmd/load_cmd_tree.go
  mgc/cli/go.mod
  mgc/cli/go.sum
  script-qa/cli-doc/block-storage/help.md
  script-qa/cli-doc/config/help.md
  script-qa/cli-doc/dbaas/help.md
  script-qa/cli-doc/kubernetes/help.md
  script-qa/cli-doc/object-storage/help.md
  script-qa/cli-doc/virtual-machine/help.md
  script-qa/cli-help/block-storage/help.txt
  script-qa/cli-help/config/help.txt
  script-qa/cli-help/dbaas/help.txt
  script-qa/cli-help/kubernetes/help.txt
  script-qa/cli-help/object-storage/help.txt
  script-qa/cli-help/virtual-machine/help.txt
Due: spec-stats, apply-oapi-customizations

fix: terraform with object storage (#1038)
  .tours/criao-do-terraform-state.tour
  mgc/core/config/config.go
  mgc/sdk/static/object_storage/buckets/create.go
  mgc/sdk/static/object_storage/buckets/get.go
  mgc/sdk/static/object_storage/buckets/group.go
  mgc/terraform-provider-mgc/docs/index.md
  mgc/terraform-provider-mgc/docs/resources/dbaas_replicas.md
  mgc/terraform-provider-mgc/docs/resources/object-storage_buckets.md
  mgc/terraform-provider-mgc/docs/resources/virtual-machine_instances.md
  mgc/terraform-provider-mgc/internal/provider/mgc_connection_create.go
  mgc/terraform-provider-mgc/internal/provider/mgc_connection_read.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_create.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_read.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_read_after.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_set_property.go
  mgc/terraform-provider-mgc/internal/provider/mgc_resource_update.go
  mgc/terraform-provider-mgc/internal/provider/provider.go
  mgc/terraform-provider-mgc/internal/provider/resource.go
  mgc/terraform-provider-mgc/internal/provider/schema.go
  mgc/terraform-provider-mgc/internal/provider/state.go
  mgc/terraform-provider-mgc/internal/provider/tf_state_applier.go
  script-qa/cli-doc/block-storage/help.md
  script-qa/cli-doc/config/help.md
  script-qa/cli-doc/dbaas/help.md
  script-qa/cli-doc/kubernetes/help.md
  script-qa/cli-doc/object-storage/buckets/get/help.md
  script-qa/cli-doc/object-storage/help.md
  script-qa/cli-doc/virtual-machine/help.md
  script-qa/cli-dump-tree.json
  script-qa/cli-help/block-storage/help.txt
  script-qa/cli-help/config/help.txt
  script-qa/cli-help/dbaas/help.txt
  script-qa/cli-help/kubernetes/help.txt
  script-qa/cli-help/object-storage/buckets/get/help.txt
  script-qa/cli-help/object-storage/help.txt
  script-qa/cli-help/virtual-machine/help.txt
Due: none

fix: adjusting open api converting script to validade const and sub-objects (#1041)
  scripts/transformers/spec_version_convert.py
  scripts/transformers/transform.py
Due: spec-stats

fix: moving warn logs to debug (#1042)
  mgc/cli/openapis/virtual-machine.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/sdk/openapi/operation.go
  mgc/terraform-provider-mgc/docs/resources/virtual-machine_instances.md
  script-qa/cli-doc/block-storage/help.md
  script-qa/cli-doc/config/help.md
  script-qa/cli-doc/dbaas/help.md
  script-qa/cli-doc/kubernetes/help.md
  script-qa/cli-doc/object-storage/buckets/create/help.md
  script-qa/cli-doc/object-storage/buckets/get/help.md
  script-qa/cli-doc/object-storage/help.md
  script-qa/cli-doc/virtual-machine/help.md
  script-qa/cli-doc/virtual-machine/images/list/help.md
  script-qa/cli-doc/virtual-machine/instances/attach/help.md
  script-qa/cli-doc/virtual-machine/instances/create/help.md
  script-qa/cli-doc/virtual-machine/instances/detach/help.md
  script-qa/cli-doc/virtual-machine/instances/help.md
  script-qa/cli-doc/virtual-machine/instances/list/help.md
  script-qa/cli-doc/virtual-machine/machine-types/list/help.md
  script-qa/cli-doc/virtual-machine/snapshots/list/help.md
  script-qa/cli-doc/virtual-machine/snapshots/restore/help.md
  script-qa/cli-dump-tree.json
  script-qa/cli-help/block-storage/help.txt
  script-qa/cli-help/config/help.txt
  script-qa/cli-help/dbaas/help.txt
  script-qa/cli-help/kubernetes/help.txt
  script-qa/cli-help/object-storage/buckets/create/help.txt
  script-qa/cli-help/object-storage/buckets/get/help.txt
  script-qa/cli-help/object-storage/help.txt
  script-qa/cli-help/virtual-machine/help.txt
  script-qa/cli-help/virtual-machine/images/list/help.txt
  script-qa/cli-help/virtual-machine/instances/attach/help.txt
  script-qa/cli-help/virtual-machine/instances/create/help.txt
  script-qa/cli-help/virtual-machine/instances/detach/help.txt
  script-qa/cli-help/virtual-machine/instances/help.txt
  script-qa/cli-help/virtual-machine/instances/list/help.txt
  script-qa/cli-help/virtual-machine/machine-types/list/help.txt
  script-qa/cli-help/virtual-machine/snapshots/list/help.txt
  script-qa/cli-help/virtual-machine/snapshots/restore/help.txt
  script-qa/spec_stats_dump.yml
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

feat: update sync command to sync local path with bucket (#1048)
  mgc/sdk/static/object_storage/objects/sync.go
  script-qa/cli-doc/object-storage/objects/help.md
  script-qa/cli-doc/object-storage/objects/sync/help.md
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/objects/help.txt
  script-qa/cli-help/object-storage/objects/sync/help.txt
Due: none

fix: validation cases when shorthand create infinity loops (#1043)
  mgc/cli/cmd/root.go
Due: none

feature: return message in success cases and loading in wait (#1045)
  mgc/cli/go.mod
  mgc/cli/go.sum
  mgc/sdk/go.mod
  mgc/sdk/go.sum
  mgc/sdk/openapi/operation.go
Due: none

chore: removing shortcut from debug command (#1046)
  mgc/cli/cmd/log_debug.go
Due: none

chore: obj apikey tf (#1049)
  mgc/core/auth/auth.go
  mgc/core/config/config.go
  mgc/terraform-provider-mgc/docs/index.md
  mgc/terraform-provider-mgc/go.mod
  mgc/terraform-provider-mgc/go.sum
  mgc/terraform-provider-mgc/internal/provider/provider.go
  scripts/README.md
  scripts/gen_expected_cli_doc_output_file.sh
  scripts/gen_expected_cli_dump_tree_output_file.sh
  scripts/gen_expected_cli_full_help_output_file.sh
Due: none

feat: listen using env MGC_LISTEN_ADDRESS (#1050)
  mgc/sdk/static/auth/login.go
Due: none

feat: add bucket prefix (#1051)
  mgc/core/auth/auth.go
  mgc/sdk/static/object_storage/buckets/create.go
  mgc/sdk/static/object_storage/common/words.go
  mgc/terraform-provider-mgc/docs/index.md
  mgc/terraform-provider-mgc/docs/resources/object-storage_buckets.md
  mgc/terraform-provider-mgc/internal/provider/provider.go
  script-qa/cli-dump-tree.json
  scripts/build_release.sh
Due: none

feat: profile get and set new names (#1057)
  mgc/sdk/static/profile/get.go
  mgc/sdk/static/profile/group.go
  mgc/sdk/static/profile/set.go
  script-qa/cli-doc/profile/get/help.md
  script-qa/cli-doc/profile/help.md
  script-qa/cli-doc/profile/set/help.md
  script-qa/cli-dump-tree.json
  script-qa/cli-help/profile/current/help.txt
  script-qa/cli-help/profile/get/help.txt
  script-qa/cli-help/profile/help.txt
  script-qa/cli-help/profile/set/help.txt
Due: none

feat: prevent uploading directories in NewUploader function
  mgc/sdk/static/object_storage/common/uploader.go
Due: none

feat: add panic recover (#1061)
  mgc/cli/main.go
Due: none

Path conditions:
  spec-stats: any of: \.py$, \.(yaml|yml)$
  valid-openapi-specs: any of: ^mgc/cli/openapis/(?!index).*[.]openapi[.](yaml|yml|json)$ and \.(yaml|yml)$, \.json$
  apply-oapi-customizations: any of: \.(yaml|yml)$
