Repository folkzb/magalu: changes, and which pre-commit hooks are due for each by the changed paths.
All: spec-stats, valid-openapi-specs, apply-oapi-customizations

spec-stats:
  name: spec-stats
  language: python
  entry: bash -c 'python3 ./scripts/spec_stats.py ./mgc/cli/openapis -o ./script-qa/spec_stats_dump.yml'
  stages:
  - pre-commit
  - pre-push
  additional_dependencies:
  - jsonschema
  - PyYAML
  - typing
  - argparse

valid-openapi-specs:
  name: valid-openapi-specs
  language: python
  entry: scripts/transformers/validate_openapi_specs.py
  stages:
  - pre-commit
  - pre-push
  additional_dependencies:
  - jsonschema
  - PyYAML
  - typing
  - argparse

apply-oapi-customizations:
  name: apply-oapi-customizations
  language: system
  entry: bash -c './scripts/oapi_apply_customizations.sh'
  stages:
  - pre-commit

chore: move loading three error to debug message (#1064)
  mgc/cli/cmd/root.go
Due: none

chore: improved error message when user not authenticated (#1065)
  mgc/cli/cmd/handle_executor.go
  mgc/cli/cmd/root.go
Due: none

feat: object sync fix, improved etag caculation, goreleaser internal with windows and macos (#1058)
  goreleaser_internal_cli.yaml
  mgc/sdk/static/object_storage/common/URI.go
  mgc/sdk/static/object_storage/objects/copy.go
  mgc/sdk/static/object_storage/objects/copy_all.go
  mgc/sdk/static/object_storage/objects/delete.go
  mgc/sdk/static/object_storage/objects/delete_all.go
  mgc/sdk/static/object_storage/objects/download.go
  mgc/sdk/static/object_storage/objects/download_all.go
  mgc/sdk/static/object_storage/objects/head.go
  mgc/sdk/static/object_storage/objects/list.go
  mgc/sdk/static/object_storage/objects/move-dir.go
  mgc/sdk/static/object_storage/objects/sync.go
  mgc/sdk/static/object_storage/objects/upload.go
  mgc/sdk/static/object_storage/objects/upload_dir.go
  script-qa/cli-doc/object-storage/objects/sync/help.md
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/objects/sync/help.txt
Due: spec-stats, apply-oapi-customizations

chore: change goreleaser-internal
  goreleaser_internal_cli.yaml
Due: spec-stats, apply-oapi-customizations

feature: api key authentication support in terraform (#1069)
  goreleaser_internal_terraform.yaml
  mgc/core/auth/auth.go
  mgc/core/auth/auth_test.go
  mgc/terraform-provider-mgc/docs/index.md
  mgc/terraform-provider-mgc/internal/provider/provider.go
Due: spec-stats, apply-oapi-customizations

chrore: changing bucket to key pair (#1070)
  mgc/terraform-provider-mgc/docs/index.md
  mgc/terraform-provider-mgc/internal/provider/provider.go
Due: none

chore: bump version to v0.19.0 (#1071)
  mgc/lib/go.mod
  mgc/lib/products/doc.go
  mgc/sdk/static/auth/login.go
  mgc/sdk/version.txt
  mgc/terraform-provider-mgc/docs/resources/virtual-machine_instances.md
  scripts/tf_generate_docs.sh
Due: none

fix: vm snapshot (#1074)
  mgc/cli/openapis/virtual-machine.openapi.yaml
  mgc/lib/go.mod
  mgc/lib/products/doc.go
  mgc/sdk/openapi/embed_loader.go
  mgc/sdk/version.txt
  mgc/terraform-provider-mgc/internal/provider/provider.go
  openapi-customizations/virtual-machine.openapi.yaml
  script-qa/cli-doc/virtual-machine/snapshots/create/help.md
  script-qa/cli-doc/virtual-machine/snapshots/help.md
  script-qa/cli-help/virtual-machine/snapshots/create/help.txt
  script-qa/cli-help/virtual-machine/snapshots/help.txt
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

feat: add error handling for profile not found (#1077)
  mgc/sdk/static/profile/set.go
Due: none

fix: remove ignoring scopes (#1076)
  mgc/lib/go.mod
  mgc/lib/products/doc.go
  mgc/sdk/static/auth/login.go
  mgc/sdk/version.txt
Due: none

feat: yaml printer with color (#1078)
  .gitignore
  mgc/cli/cmd/output_yaml.go
  mgc/cli/go.mod
  mgc/cli/go.sum
Due: none

feat: yaml as default output (#1079)
  mgc/cli/cmd/root.go
Due: none

chore: get instance vm is now default with expand values (#1080)
  mgc/cli/openapis/virtual-machine.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  openapi-customizations/virtual-machine.openapi.yaml
  script-qa/cli-doc/virtual-machine/instances/get/help.md
  script-qa/cli-dump-tree.json
  script-qa/cli-help/virtual-machine/instances/get/help.txt
  scripts/transformers/transform.py
  scripts/transformers/validate_openapi_specs.py
  scripts/yaml_merge.py
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

fix: api-key is no longer persisted (#1081)
  mgc/core/auth/auth.go
Due: none

fix: tests api-key is no longer persisted (#1082)
  mgc/core/auth/auth_test.go
Due: none

chore: update specs (#1083)
  mgc/cli/openapis/block-storage.openapi.yaml
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/cli/openapis/index.openapi.yaml
  mgc/cli/openapis/kubernetes.openapi.yaml
  mgc/cli/openapis/virtual-machine.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/spec_manipulator/cli_specs/block-storage.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/conv.block-storage.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/conv.virtual-machine-xaas.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/conv.virtual-machine.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/database.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/kubernetes.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/network.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/virtual-machine-xaas.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/virtual-machine.jaxyendy.openapi.json
  mgc/terraform-provider-mgc/docs/resources/kubernetes_cluster.md
  script-qa/cli-doc/dbaas/flavors/list/help.md
  script-qa/cli-doc/dbaas/instances/list/help.md
  script-qa/cli-doc/kubernetes/cluster/create/help.md
  script-qa/cli-doc/virtual-machine/instances/create/help.md
  script-qa/cli-dump-tree.json
  script-qa/cli-help/dbaas/flavors/list/help.txt
  script-qa/cli-help/dbaas/instances/list/help.txt
  script-qa/cli-help/kubernetes/cluster/create/help.txt
  script-qa/cli-help/virtual-machine/instances/create/help.txt
  script-qa/cli-help/virtual-machine/snapshots/restore/help.txt
  script-qa/spec_stats_dump.yml
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

chore: registry update spec and changing path (#1085)
  mgc/cli/openapis/container-registry.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/spec_manipulator/cli_specs/container-registry.openapi.yaml
  mgc/terraform-provider-mgc/docs/resources/container_registry_registries.md
  openapi-customizations/container-registry.openapi.yaml
  script-qa/cli-doc/container-registry/credentials/help.md
  script-qa/cli-doc/container-registry/credentials/list/help.md
  script-qa/cli-doc/container-registry/help.md
  script-qa/cli-doc/container-registry/images/help.md
  script-qa/cli-doc/container-registry/info/help.md
  script-qa/cli-doc/container-registry/registries/create/help.md
  script-qa/cli-doc/container-registry/registries/delete/help.md
  script-qa/cli-doc/container-registry/registries/get/help.md
  script-qa/cli-doc/container-registry/registries/help.md
  script-qa/cli-doc/container-registry/registries/list/help.md
  script-qa/cli-doc/container-registry/registries/registries/help.md
  script-qa/cli-doc/container-registry/repositories/help.md
  script-qa/cli-dump-tree.json
  script-qa/cli-help/container-registry/credentials/help.txt
  script-qa/cli-help/container-registry/credentials/list/help.txt
  script-qa/cli-help/container-registry/help.txt
  script-qa/cli-help/container-registry/images/help.txt
  script-qa/cli-help/container-registry/info/help.txt
  script-qa/cli-help/container-registry/registries/create/help.txt
  script-qa/cli-help/container-registry/registries/delete/help.txt
  script-qa/cli-help/container-registry/registries/get/help.txt
  script-qa/cli-help/container-registry/registries/help.txt
  script-qa/cli-help/container-registry/registries/list/help.txt
  script-qa/cli-help/container-registry/registries/registries/help.txt
  script-qa/cli-help/container-registry/registries/registries/list/help.txt
  script-qa/cli-help/container-registry/repositories/help.txt
  script-qa/spec_stats_dump.yml
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

feat: raw flag, json color, renamed flag '--cli.output 'to 'output' and removing --no-progress flag (#1087)
  mgc/cli/cmd/cmd_result_format.go
  mgc/cli/cmd/dump_tree.go
  mgc/cli/cmd/handle_executor.go
  mgc/cli/cmd/hide_progress.go
  mgc/cli/cmd/output.go
  mgc/cli/cmd/output_json.go
  mgc/cli/cmd/output_jsonpath.go
  mgc/cli/cmd/output_jsonpath_file.go
  mgc/cli/cmd/output_table.go
  mgc/cli/cmd/output_table_file.go
  mgc/cli/cmd/output_template.go
  mgc/cli/cmd/output_template_file.go
  mgc/cli/cmd/output_yaml.go
  mgc/cli/cmd/raw.go
  mgc/cli/cmd/root.go
  mgc/cli/go.mod
  mgc/cli/go.sum
  mgc/sdk/openapi/operation.go
  mgc/sdk/openapi/raw_output.go
  scripts/gen_expected_cli_dump_tree.py
Due: spec-stats

chore: save body log (#1088)
  mgc/core/http/http_logger.go
Due: none

chore: remove blockstorage backups as asked in thread (#1089)
  mgc/spec_manipulator/cli_specs/block-storage.jaxyendy.openapi.json
Due: none

fix: stop processing nil values in request headers (#1092)
  mgc/sdk/openapi/operation.go
Due: none

chore: changes on tf (#1093)
  cli_specs/block-storage.jaxyendy.openapi.json
  cli_specs/block-storage.jaxyendy.openapi_2024-06-13_15-44-41.old.json
  cli_specs/conv.block-storage.jaxyendy.openapi.json
  cli_specs/conv.network.jaxyendy.openapi.json
  cli_specs/conv.virtual-machine-xaas.jaxyendy.openapi.json
  cli_specs/conv.virtual-machine.jaxyendy.openapi.json
  cli_specs/database.jaxyendy.openapi.json
  cli_specs/database.jaxyendy.openapi_2024-06-13_15-44-41.old.json
  cli_specs/kubernetes.jaxyendy.openapi.json
  cli_specs/kubernetes.jaxyendy.openapi_2024-06-13_15-44-41.old.json
  cli_specs/network.jaxyendy.openapi.json
  cli_specs/network.jaxyendy.openapi_2024-06-13_15-44-40.old.json
  cli_specs/virtual-machine-xaas.jaxyendy.openapi.json
  cli_specs/virtual-machine-xaas.jaxyendy.openapi_2024-06-13_15-44-41.old.json
  cli_specs/virtual-machine.jaxyendy.openapi.json
  cli_specs/virtual-machine.jaxyendy.openapi_2024-06-13_15-44-41.old.json
  mgc/cli/openapis/virtual-machine.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/spec_manipulator/cli_specs/conv.virtual-machine.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/network.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/virtual-machine.jaxyendy.openapi.json
  mgc/spec_manipulator/cmd/downgrade.go
  mgc/terraform-provider-mgc/docs/resources/virtual_machine_instances.md
  mgc/terraform-provider-mgc/docs/resources/virtual_machine_snapshots.md
  mgc/terraform-provider-mgc/go.mod
  mgc/terraform-provider-mgc/internal/provider/provider.go
  script-qa/cli-doc/virtual-machine/instances/create/help.md
  script-qa/cli-dump-tree.json
  script-qa/cli-help/virtual-machine/instances/create/help.txt
  script-qa/cli-help/virtual-machine/snapshots/restore/help.txt
  scripts/add_all_specs.sh
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

feat: new readme with magalu cloud ascii art (#1094)
  README.md
Due: none

chore: fix version output (#1095)
  mgc/cli/cmd/root.go
  mgc/cli/openapis/block-storage.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  openapi-customizations/block-storage.openapi.yaml
  script-qa/cli-help/block-storage/volumes/create/help.txt
  scripts/add_all_specs.sh
Due: spec-stats, valid-openapi-specs, apply-oapi-customizations

chore: remove file ref from ci
  goreleaser_cli.yaml
Due: spec-stats, apply-oapi-customizations

chore: removing auto gen docs from terraform release (#1098)
  goreleaser_terraform.yaml
Due: spec-stats, apply-oapi-customizations

chore: uploading docs when new release is created (#1099)
  .github/workflows/upload-docs.yaml
Due: spec-stats, apply-oapi-customizations

chore: uploading docs when new release is created
  .github/workflows/upload-docs.yaml
Due: spec-stats, apply-oapi-customizations

Path conditions:
  spec-stats: any of: \.py$, \.(yaml|yml)$
  valid-openapi-specs: any of: ^mgc/cli/openapis/(?!index).*[.]openapi[.](yaml|yml|json)$ and \.(yaml|yml)$, \.json$
  apply-oapi-customizations: any of: \.(yaml|yml)$
