Repository folkzb/magalu: changes, and which pre-commit hooks are due for each by the changed paths.
All: spec-stats, valid-openapi-specs

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push, commit-msg]
repos:
-   repo: local
    hooks:
    -   id: spec-stats
        name: spec-stats
        language: python
        entry: bash -c 'python3 ./scripts/spec_stats.py ./mgc/cli/openapis -o ./script-qa/spec_stats_dump.yml'
        types_or: [python, yaml]
        stages: [pre-push]
        additional_dependencies: [jsonschema, PyYAML, typing, argparse]
    -   id: go-test
        name: go-test
        language: golang
        entry: bash -c 'find . -name go.mod -execdir go test ./... \; | grep -zqv FAIL'
        stages: [pre-push]
    -   id: valid-openapi-specs
        name: valid-openapi-specs
        language: python
        entry: scripts/transformers/validate_openapi_specs.py
        files: ^mgc/cli/openapis/(?!index).*[.]openapi[.](yaml|yml|json)$
        types_or: [yaml, json]
        stages: [pre-commit, pre-push]
        additional_dependencies: [jsonschema, PyYAML, typing, argparse]
    -   id: check-cli-help-outputs
        name: check "cli help" outputs
        language: system
        entry: bash -c './scripts/gen_expected_cli_full_help_output_file.sh'
        require_serial: true
        stages: [pre-commit]
    -   id: oapi-index-gen
        name: oapi-index-gen
        language: system
        entry: bash -c './scripts/oapi_index_gen.sh'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        stages: [pre-commit, pre-push]
        exclude: ^script-qa/
    -   id: end-of-file-fixer
        stages: [pre-commit, pre-push]
        exclude: >
          (?x)(
            ^mgc/sdk/version.txt|
            ^script-qa/
          )
    -   id: check-yaml
        stages: [pre-commit, pre-push]
    -   id: check-added-large-files
        stages: [pre-commit, pre-push]
    -   id: check-shebang-scripts-are-executable
        stages: [pre-commit, pre-push]
    -   id: check-merge-conflict
        stages: [pre-commit, pre-push]
    -   id: mixed-line-ending
        stages: [pre-commit, pre-push]

-   repo: https://github.com/golangci/golangci-lint
    rev: v1.54.2
    hooks:
    -   id: golangci-lint
        stages: [pre-commit]
        # Need to specify manually due to this issue:
        # https://github.com/golangci/golangci-lint/issues/2654
        entry: bash -c "go list -f '{{.Dir}}/...' -m | xargs golangci-lint run --fix --new-from-rev HEAD"

-   repo: https://github.com/golangci/golangci-lint
    rev: v1.54.2
    hooks:
    -   id: golangci-lint
        stages: [pre-push]
        # Need to specify manually due to this issue:
        # https://github.com/golangci/golangci-lint/issues/2654
        entry: bash -c "go list -f '{{.Dir}}/...' -m | xargs golangci-lint run --fix"

-   repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
    -   id: go-mod-tidy
        stages: [pre-commit]

-   repo: https://github.com/commitizen-tools/commitizen
    rev: 3.10.0
    hooks:
    -   id: commitizen
        stages: [commit-msg]

-   repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
    -   id: flake8
        stages: [pre-commit, pre-push]
        additional_dependencies:
          - flake8-builtins
          - flake8-colors
          - flake8-comprehensions
          - flake8-deprecated
          - flake8-module-name
          - flake8-print
          - flake8-requirements
          - flake8-rst-docstrings
          - flake8-tidy-imports

-   repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
    -   id: black
        stages: [pre-commit, pre-push]

fix: correct message when apikey is empty (#914)
  mgc/sdk/static/object_storage/common/session.go
Due: none

feat(scopes): implement a add-all command to include all scopes
  mgc/sdk/static/auth/scopes/add_all.go
  mgc/sdk/static/auth/scopes/group.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/auth/scopes/add-all/help.txt
  script-qa/cli-help/auth/scopes/help.txt
Due: none

refactor(cli): clean select helper command runner a bit
  mgc/cli/cmd/select_helper.go
Due: none

feat(cli): pre-select current items, if any
  mgc/cli/cmd/select_helper.go
Due: none

refactor(cli/ui/selection_prompt): cleanup formatting and expose choice
  mgc/cli/cmd/select_helper.go
  mgc/cli/ui/selection_prompt.go
Due: none

feat(cli): change format of select command output
  mgc/cli/cmd/select_helper.go
Due: none

feat(select): add HumanIdentifiableFieldsExecutor interface and use for select
  mgc/cli/cmd/select_helper.go
  mgc/core/human_identifiable_fields_executor.go
  mgc/sdk/static/auth/tenant/list.go
  mgc/sdk/static/object_storage/api_key/list.go
Due: none

feat: change scopes (#902)
  Makefile
  mgc/sdk/static/object_storage/api_key/common.go
  mgc/sdk/static/object_storage/api_key/create.go
  mgc/sdk/static/object_storage/api_key/list.go
  mgc/sdk/static/object_storage/api_key/revoke.go
Due: none

feat(object-storage): add object versioning support to delete operation
  mgc/sdk/static/object_storage/common/delete.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/objects/delete/help.txt
Due: none

feat(object-storage): add command to list object versions
  mgc/sdk/static/object_storage/objects/group.go
  mgc/sdk/static/object_storage/objects/version.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/objects/help.txt
  script-qa/cli-help/object-storage/objects/versions/help.txt
Due: none

feat(object-storage): add object versioning support for head, download and copy operations
  mgc/sdk/static/object_storage/common/bigfile_copier.go
  mgc/sdk/static/object_storage/common/bigfile_downloader.go
  mgc/sdk/static/object_storage/common/copy.go
  mgc/sdk/static/object_storage/common/download.go
  mgc/sdk/static/object_storage/common/head.go
  mgc/sdk/static/object_storage/common/smallfile_copier.go
  mgc/sdk/static/object_storage/common/smallfile_downloader.go
  mgc/sdk/static/object_storage/objects/copy.go
  mgc/sdk/static/object_storage/objects/download.go
  mgc/sdk/static/object_storage/objects/download_all.go
  mgc/sdk/static/object_storage/objects/head.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/objects/copy/help.txt
  script-qa/cli-help/object-storage/objects/download/help.txt
  script-qa/cli-help/object-storage/objects/head/help.txt
Due: none

fix(object-storage): check if the source contains a key in object download command
  mgc/sdk/static/object_storage/objects/download.go
Due: none

docs(blueprint): add refs support to blueprints documentation
  mgc/sdk/blueprint/README.md
Due: none

docs(openapi): fix typo in blueprint readme
  mgc/sdk/blueprint/README.md
Due: none

docs(cli): add select to cli running documentation
  mgc/cli/RUNNING.md
Due: none

fix(cli-example): update create-vm example
  mgc/cli/examples/create-vm-with-disk.sh
Due: none

docs(openapi): add link info to openapi documentation
  mgc/sdk/openapi/README.md
Due: none

docs(openapi): fix typo in openapi readme
  mgc/sdk/openapi/README.md
Due: none

docs(cli): fix typo in cli running documentation
  mgc/cli/RUNNING.md
Due: none

docs(cli): add links info in cli running documentation
  mgc/cli/RUNNING.md
Due: none

docs(cli): update the cli running documentation
  mgc/cli/RUNNING.md
Due: none

fix(scripts): fixes in yaml merge script
  scripts/yaml_merge.py
Due: spec-stats

fix(pre-commit): run spec-stats on every commit
  .pre-commit-config.yaml
Due: spec-stats

fix(tf): be smarter about parameter names based on resource name
  mgc/terraform-provider-mgc/internal/provider/resource.go
Due: none

chore: run pre-commit to fix go mod tidy
  mgc/testing/fs_test_helper/go.mod
  mgc/testing/fs_test_helper/go.sum
Due: none

fix(scripts): fix behavior of 'RemovePath' script
  scripts/transformers/spec_remove_path.py
  scripts/transformers/transform.py
Due: spec-stats

refactor(scripts): add type hints to OAPI Transformers
  scripts/transformers/links_helper.py
  scripts/transformers/oapi_types.py
  scripts/transformers/spec_add_parameters_type.py
  scripts/transformers/spec_add_security.py
  scripts/transformers/spec_create_links.py
  scripts/transformers/spec_fix_links.py
  scripts/transformers/spec_remove_component.py
  scripts/transformers/spec_remove_param.py
  scripts/transformers/spec_remove_path.py
  scripts/transformers/spec_types.py
  scripts/transformers/spec_update_error.py
  scripts/transformers/spec_version_convert.py
  scripts/transformers/transform.py
  scripts/transformers/transform_helpers.py
Due: spec-stats

fix(scripts): rewrite link creation script from scratch
  scripts/transformers/oapi_types.py
  scripts/transformers/spec_create_links.py
Due: spec-stats

fix(scripts): fix behavior of 'RemoveComponent' script
  scripts/transformers/spec_remove_component.py
  scripts/transformers/transform.py
Due: spec-stats

feat(dbaas): update spec
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/cli/openapis/index.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/terraform-provider-mgc/docs/resources/dbaas_instances.md
  mgc/terraform-provider-mgc/docs/resources/dbaas_instances_backups.md
  mgc/terraform-provider-mgc/docs/resources/dbaas_replicas.md
  openapi-customizations/dbaas.openapi.yaml
  script-qa/cli-dump-tree.json
  script-qa/cli-help/dbaas/backups/delete/help.txt
  script-qa/cli-help/dbaas/backups/get/help.txt
  script-qa/cli-help/dbaas/backups/list/help.txt
  script-qa/cli-help/dbaas/datastores/get/help.txt
  script-qa/cli-help/dbaas/datastores/list/help.txt
  script-qa/cli-help/dbaas/flavors/get/help.txt
  script-qa/cli-help/dbaas/flavors/list/help.txt
  script-qa/cli-help/dbaas/healthcheck/help.txt
  script-qa/cli-help/dbaas/healthcheck/list/help.txt
  script-qa/cli-help/dbaas/instances/backups/create/help.txt
  script-qa/cli-help/dbaas/instances/backups/delete/help.txt
  script-qa/cli-help/dbaas/instances/backups/get/help.txt
  script-qa/cli-help/dbaas/instances/backups/list/help.txt
  script-qa/cli-help/dbaas/instances/create/help.txt
  script-qa/cli-help/dbaas/instances/get/help.txt
  script-qa/cli-help/dbaas/instances/list/help.txt
  script-qa/cli-help/dbaas/instances/resize/help.txt
  script-qa/cli-help/dbaas/instances/restores/help.txt
  script-qa/cli-help/dbaas/instances/start/help.txt
  script-qa/cli-help/dbaas/instances/stop/help.txt
  script-qa/cli-help/dbaas/instances/update/help.txt
  script-qa/cli-help/dbaas/replicas/create/help.txt
  script-qa/cli-help/dbaas/replicas/delete/help.txt
  script-qa/cli-help/dbaas/replicas/get/help.txt
  script-qa/cli-help/dbaas/replicas/list/help.txt
  script-qa/cli-help/dbaas/replicas/resize/help.txt
  script-qa/cli-help/dbaas/replicas/start/help.txt
  script-qa/cli-help/dbaas/replicas/stop/help.txt
  script-qa/spec_stats_dump.yml
Due: spec-stats, valid-openapi-specs

feat(scripts): add script to enforce 'tags' block when not present in OAPI
  scripts/transformers/spec_add_tags_block.py
  scripts/transformers/transform.py
Due: spec-stats

feat(block-storage): update spec
  mgc/cli/openapis/block-storage.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/terraform-provider-mgc/docs/resources/block-storage_volumes.md
  openapi-customizations/block-storage.openapi.yaml
  script-qa/cli-dump-tree.json
  script-qa/cli-help/block-storage/snapshots/create/help.txt
  script-qa/cli-help/block-storage/snapshots/delete/help.txt
  script-qa/cli-help/block-storage/snapshots/get/help.txt
  script-qa/cli-help/block-storage/snapshots/help.txt
  script-qa/cli-help/block-storage/snapshots/rename/help.txt
  script-qa/cli-help/block-storage/snapshots/restore/help.txt
  script-qa/cli-help/block-storage/volumes/attach/help.txt
  script-qa/cli-help/block-storage/volumes/create/help.txt
  script-qa/cli-help/block-storage/volumes/delete/help.txt
  script-qa/cli-help/block-storage/volumes/detach/help.txt
  script-qa/cli-help/block-storage/volumes/extend/help.txt
  script-qa/cli-help/block-storage/volumes/help.txt
  script-qa/cli-help/block-storage/volumes/retype/help.txt
  scripts/add_all_specs.sh
Due: spec-stats, valid-openapi-specs

feat(kubernetes): update spec
  mgc/cli/openapis/kubernetes.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  openapi-customizations/kubernetes.openapi.yaml
  script-qa/cli-dump-tree.json
  script-qa/cli-help/kubernetes/cluster/delete/help.txt
  script-qa/cli-help/kubernetes/cluster/get/help.txt
  script-qa/cli-help/kubernetes/cluster/kubeconfig/help.txt
  script-qa/cli-help/kubernetes/nodepool/delete/help.txt
  script-qa/cli-help/kubernetes/nodepool/get/help.txt
  script-qa/cli-help/kubernetes/nodepool/nodes/help.txt
  script-qa/cli-help/kubernetes/nodepool/update/help.txt
Due: spec-stats, valid-openapi-specs

fix(cli/select): fix decision to see if exec is 'get-current'
  mgc/cli/cmd/select_helper.go
Due: none

feat(output/table): add ability to transpose table without specifying fields
  mgc/cli/cmd/output_table.go
Due: none

fix(object-storage): assume XML for text/plain and text/html Content-Type for now
  mgc/sdk/static/object_storage/common/http.go
Due: none

feat(object-storage/buckets/acl): add bucket acl set operation
  mgc/sdk/static/object_storage/buckets/acl/group.go
  mgc/sdk/static/object_storage/buckets/acl/set.go
  mgc/sdk/static/object_storage/common/acl.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/buckets/acl/help.txt
  script-qa/cli-help/object-storage/buckets/acl/set/help.txt
Due: none

feat(object-storage/buckets/acl): add bucket acl get operation
  mgc/sdk/static/object_storage/buckets/acl/get.go
  mgc/sdk/static/object_storage/buckets/acl/group.go
  mgc/sdk/static/object_storage/buckets/group.go
  mgc/sdk/static/object_storage/buckets/list.go
  mgc/sdk/static/object_storage/common/acl.go
  mgc/sdk/static/object_storage/common/http.go
  mgc/sdk/static/object_storage/common/owner.go
  mgc/sdk/static/object_storage/objects/version.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/buckets/acl/get/help.txt
  script-qa/cli-help/object-storage/buckets/acl/help.txt
  script-qa/cli-help/object-storage/buckets/help.txt
Due: none

feat(object-storage): add 'env' to config
  mgc/sdk/static/object_storage/common/config.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/buckets/create/help.txt
  script-qa/cli-help/object-storage/buckets/delete/help.txt
  script-qa/cli-help/object-storage/buckets/list/help.txt
  script-qa/cli-help/object-storage/buckets/public-url/help.txt
  script-qa/cli-help/object-storage/buckets/versioning/enable/help.txt
  script-qa/cli-help/object-storage/buckets/versioning/get/help.txt
  script-qa/cli-help/object-storage/buckets/versioning/suspend/help.txt
  script-qa/cli-help/object-storage/objects/copy-all/help.txt
  script-qa/cli-help/object-storage/objects/copy/help.txt
  script-qa/cli-help/object-storage/objects/delete-all/help.txt
  script-qa/cli-help/object-storage/objects/delete/help.txt
  script-qa/cli-help/object-storage/objects/download-all/help.txt
  script-qa/cli-help/object-storage/objects/download/help.txt
  script-qa/cli-help/object-storage/objects/head/help.txt
  script-qa/cli-help/object-storage/objects/list/help.txt
  script-qa/cli-help/object-storage/objects/move-dir/help.txt
  script-qa/cli-help/object-storage/objects/move/help.txt
  script-qa/cli-help/object-storage/objects/presign/help.txt
  script-qa/cli-help/object-storage/objects/public-url/help.txt
  script-qa/cli-help/object-storage/objects/sync/help.txt
  script-qa/cli-help/object-storage/objects/upload-dir/help.txt
  script-qa/cli-help/object-storage/objects/upload/help.txt
  script-qa/cli-help/object-storage/objects/versions/help.txt
Due: none
