Repository folkzb/magalu: changes, and which pre-commit hooks are due for each by the changed paths.
All: spec-stats, valid-openapi-specs

spec-stats:
  name: spec-stats
  language: python
  entry: bash -c 'python3 ./scripts/spec_stats.py ./mgc/cli/openapis -o ./script-qa/spec_stats_dump.yml'
  stages:
  - pre-push
  additional_dependencies:
  - jsonschema
  - PyYAML
  - typing
  - argparse

valid-openapi-specs:
  name: valid-openapi-specs
  language: python
  entry: scripts/transformers/validate_openapi_specs.py
  stages:
  - pre-commit
  - pre-push
  additional_dependencies:
  - jsonschema
  - PyYAML
  - typing
  - argparse

chore(scripts): add script-qa/cli-dump-tree.json
  .pre-commit-config.yaml
  script-qa/cli-dump-tree.json
  scripts/gen_expected_cli_dump_tree.py
  scripts/gen_expected_cli_dump_tree_output_file.sh
  scripts/gen_expected_cli_full_help_output_file.sh
  scripts/gen_expected_cli_help_output.py
Due: spec-stats

feat(cli): force version/help flags to be initialized early on.
  mgc/cli/cmd/root.go
Due: none

chore: update golangci-lint version
  .pre-commit-config.yaml
Due: spec-stats

fix(cli): fix getting values from config
  mgc/cli/cmd/load_data.go
Due: none

feat(openapi): add transform to force add security schemas
  scripts/add_specs.sh
  scripts/transformers/spec_add_security.py
  scripts/transformers/transform.py
Due: spec-stats

fix(operation): handle lists in query params
  mgc/sdk/openapi/operation.go
Due: none

feat(script): add script to apply all oapi customizations
  scripts/oapi_apply_customizations.py
Due: spec-stats

feat(pre-commit): add step to apply oapi customizations
  .pre-commit-config.yaml
  scripts/oapi_apply_customizations.sh
Due: spec-stats

fix(pre-commit): add additional dependencies
  .pre-commit-config.yaml
Due: spec-stats

fix(pre-commit): use correct version string for commitizen
  .pre-commit-config.yaml
Due: spec-stats

fix(auth): show key values after set
  mgc/sdk/static/auth/objectstorage/set.go
Due: none

fix(cli): show number constraints for non-integers
  mgc/cli/cmd/schema_constraints.go
  script-qa/cli-help/dbaas/instances/create/help.txt
  script-qa/cli-help/dbaas/instances/resize/help.txt
Due: none

fix(core/config): we must lowercase keys before deleting
  mgc/core/config/config.go
Due: none

fix(cli): enums apply to every kind of type
  mgc/cli/cmd/schema_constraints.go
Due: none

chore(cli): remove todo about NoOptDefVal
  mgc/cli/cmd/get_next_unknown_cmd.go
Due: none

fix(sdk/openapi): fix chained links
  mgc/sdk/openapi/oapi_linker.go
Due: none

feat(cli): string constraints should also include patterns
  mgc/cli/cmd/schema_constraints.go
Due: none

feat(core/schema): convert should copy examples and add some extensions
  mgc/core/schema/schema_conversion.go
  script-qa/cli-dump-tree.json
Due: none

feat(cli): add per-flag help.
  mgc/cli/RUNNING.md
  mgc/cli/cmd/cmd_flags.go
  mgc/cli/cmd/root.go
  mgc/cli/cmd/schema_flags/common.go
  mgc/cli/cmd/schema_flags/parsers.go
  mgc/cli/cmd/schema_flags/parsers_test.go
  mgc/cli/cmd/schema_flags/schema_flag_value.go
  mgc/cli/cmd/show_help.go
Due: none

feat(core/pipeline): add nil filter
  mgc/core/pipeline/filter.go
Due: none

fix(scripts/transformers): check security before accessing it
  scripts/transformers/spec_add_security.py
Due: spec-stats

feat(cli): rewrite anyFlagValue as schemaFlagValue
  mgc/cli/RUNNING.md
  mgc/cli/cmd/any_flag_value.go
  mgc/cli/cmd/load_cmd_tree.go
  mgc/cli/cmd/load_cmd_tree_helpers.go
  mgc/cli/cmd/schema_flags/array.go
  mgc/cli/cmd/schema_flags/bool.go
  mgc/cli/cmd/schema_flags/common.go
  mgc/cli/cmd/schema_flags/constraints.go
  mgc/cli/cmd/schema_flags/desc.go
  mgc/cli/cmd/schema_flags/logger.go
  mgc/cli/cmd/schema_flags/multi.go
  mgc/cli/cmd/schema_flags/object.go
  mgc/cli/cmd/schema_flags/parsers.go
  mgc/cli/cmd/schema_flags/parsers_test.go
  mgc/cli/cmd/schema_flags/schema_flag_value.go
  mgc/cli/cmd/schema_flags/string.go
  mgc/cli/go.mod
Due: none

feat(core/utils): add MultiError
  mgc/core/utils/multi_error.go
Due: none

feat(cli): add flag-specific errors
  mgc/cli/cmd/flag_error.go
  mgc/cli/cmd/required_flags_error.go
Due: none

fix(cli): normalize group, executor and link names
  mgc/cli/cmd/load_cmd_tree.go
  script-qa/cli-help/auth/access_token/help.txt
  script-qa/cli-help/auth/help.txt
  script-qa/cli-help/network/help.txt
  script-qa/cli-help/network/public_ip/help.txt
  script-qa/cli-help/network/public_ip/public-ips/attach/help.txt
  script-qa/cli-help/network/public_ip/public-ips/delete/help.txt
  script-qa/cli-help/network/public_ip/public-ips/detach/help.txt
  script-qa/cli-help/network/public_ip/public-ips/get/help.txt
  script-qa/cli-help/network/public_ip/public-ips/help.txt
  script-qa/cli-help/network/public_ip/public-ips/list/help.txt
  script-qa/cli-help/network/public_ip/vpcs-public-ips/create/help.txt
  script-qa/cli-help/network/public_ip/vpcs-public-ips/help.txt
  script-qa/cli-help/network/public_ip/vpcs-public-ips/list/help.txt
  script-qa/cli-help/network/security_group/help.txt
  script-qa/cli-help/network/security_group/security-groups/create-default/help.txt
  script-qa/cli-help/network/security_group/security-groups/create/help.txt
  script-qa/cli-help/network/security_group/security-groups/delete-all/help.txt
  script-qa/cli-help/network/security_group/security-groups/delete/help.txt
  script-qa/cli-help/network/security_group/security-groups/get/help.txt
  script-qa/cli-help/network/security_group/security-groups/help.txt
  script-qa/cli-help/network/security_group/security-groups/list/help.txt
  script-qa/cli-help/network/security_group/vpcs-security-groups/create/help.txt
  script-qa/cli-help/network/security_group/vpcs-security-groups/help.txt
  script-qa/cli-help/network/security_group/vpcs-security-groups/list/help.txt
  script-qa/cli-help/network/xaas_port/help.txt
  script-qa/cli-help/network/xaas_rule/help.txt
  script-qa/cli-help/network/xaas_security_group/help.txt
  script-qa/cli-help/network/xaas_subnetpools/help.txt
  script-qa/cli-help/network/xaas_subnets/help.txt
  script-qa/cli-help/network/xaas_vpc/help.txt
Due: none

fix(cli): avoid flags with the same name
  mgc/cli/cmd/cmd_flags.go
  mgc/cli/cmd/link_cmd.go
  mgc/cli/cmd/load_cmd_tree.go
  mgc/cli/cmd/load_cmd_tree_helpers.go
  mgc/cli/cmd/load_data.go
  mgc/cli/cmd/schema_flags/schema_flag_value.go
  script-qa/cli-help/mke/cluster/create/help.txt
Due: none

chore(cli): add some more logging to loadCommandTree()
  mgc/cli/cmd/load_cmd_tree.go
Due: none

fix(cli): return loadCommandTree()'s error if no cmd.Execute() error.
  mgc/cli/cmd/root.go
Due: none

fix(cli): rename '_<name>' props to 'control.<name>'
  mgc/cli/cmd/cmd_flags.go
  script-qa/cli-help/dbaas/backups/list/help.txt
  script-qa/cli-help/dbaas/datastores/list/help.txt
  script-qa/cli-help/dbaas/flavors/list/help.txt
  script-qa/cli-help/dbaas/instances/backups/list/help.txt
  script-qa/cli-help/dbaas/instances/get/help.txt
  script-qa/cli-help/dbaas/instances/list/help.txt
  script-qa/cli-help/dbaas/replicas/list/help.txt
  script-qa/cli-help/network/port/vpcs-ports/list/help.txt
Due: none

feat(cli): accept arrays as positional arguments
  mgc/cli/cmd/cmd_flags.go
  mgc/cli/cmd/cmd_flags_test.go
Due: none

fix(cli): fix flag usage
  mgc/cli/cmd/schema_flags/constraints.go
  mgc/cli/cmd/schema_flags/desc.go
  script-qa/cli-help/dbaas/instances/get/help.txt
  script-qa/cli-help/dbaas/instances/list/help.txt
Due: none

feat(cli): rewrite link handling with separate root commands
  mgc/cli/cmd/link_cmd.go
  mgc/cli/cmd/load_cmd_tree.go
  mgc/cli/cmd/output.go
Due: none

fix: fix missing schema types
  mgc/cli/cmd/schema_flags/desc.go
  mgc/cli/openapis/network.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/config/set/help.txt
  script-qa/cli-help/http/json/options/help.txt
  script-qa/cli-help/http/json/patch/help.txt
  script-qa/cli-help/http/json/post/help.txt
  script-qa/cli-help/http/json/put/help.txt
  script-qa/cli-help/network/port/vpcs-ports/list/help.txt
  script-qa/cli-help/network/public_ip/public-ips/delete/help.txt
  script-qa/cli-help/network/public_ip/public-ips/get/help.txt
  script-qa/cli-help/network/public_ip/vpcs-public-ips/list/help.txt
  script-qa/cli-help/network/rule/rules/delete/help.txt
  script-qa/cli-help/network/rule/rules/get/help.txt
  script-qa/spec_stats_dump.yml
  scripts/transformers/spec_add_parameters_type.py
  scripts/transformers/transform.py
Due: spec-stats, valid-openapi-specs

feat(cli): recommend flag help instead of creating complex usage
  mgc/cli/cmd/required_flags_error.go
  mgc/cli/cmd/schema_flags/constraints.go
  mgc/cli/cmd/schema_flags/desc.go
  mgc/cli/cmd/show_help.go
  script-qa/cli-help/config/set/help.txt
  script-qa/cli-help/dbaas/instances/create/help.txt
  script-qa/cli-help/dbaas/instances/resize/help.txt
  script-qa/cli-help/http/do/help.txt
  script-qa/cli-help/http/json/delete/help.txt
  script-qa/cli-help/http/json/get/help.txt
  script-qa/cli-help/http/json/head/help.txt
  script-qa/cli-help/http/json/options/help.txt
  script-qa/cli-help/http/json/patch/help.txt
  script-qa/cli-help/http/json/post/help.txt
  script-qa/cli-help/http/json/put/help.txt
  script-qa/cli-help/http/json/trace/help.txt
  script-qa/cli-help/mke/cluster/create/help.txt
  script-qa/cli-help/mke/nodepool/create/help.txt
  script-qa/cli-help/mke/nodepool/update/help.txt
  script-qa/cli-help/virtual-machine/instances/create/help.txt
Due: none

feat(cli): add usage examples if some flags provide them
  mgc/cli/cmd/cmd_flags.go
  mgc/cli/cmd/load_cmd_tree.go
  script-qa/cli-help/dbaas/instances/create/help.txt
  script-qa/cli-help/dbaas/instances/list/help.txt
  script-qa/cli-help/dbaas/instances/update/help.txt
  script-qa/cli-help/mke/cluster/create/help.txt
  script-qa/cli-help/mke/nodepool/create/help.txt
  script-qa/cli-help/object-storage/objects/delete/help.txt
Due: none

feat(cli): support shell completion
  mgc/cli/cmd/load_cmd_tree.go
  mgc/cli/cmd/root.go
Due: none

feat(cli): provide active help during flags and args validation
  mgc/cli/cmd/cmd_flags.go
  mgc/cli/cmd/load_cmd_tree.go
  mgc/cli/cmd/schema_flags/desc.go
Due: none

Path conditions:
  spec-stats: any of: \.py$, \.(yaml|yml)$
  valid-openapi-specs: any of: ^mgc/cli/openapis/(?!index).*[.]openapi[.](yaml|yml|json)$ and \.(yaml|yml)$, \.json$
