Repository folkzb/magalu: changes, and which pre-commit hooks are due for each by the changed paths.
All: spec-stats, valid-openapi-specs

spec-stats:
  name: spec-stats
  language: python
  entry: bash -c 'python3 ./scripts/spec_stats.py ./mgc/cli/openapis -o ./script-qa/spec_stats_dump.yml'
  stages:
  - pre-push
  additional_dependencies:
  - jsonschema
  - PyYAML
  - typing
  - argparse

valid-openapi-specs:
  name: valid-openapi-specs
  language: python
  entry: scripts/transformers/validate_openapi_specs.py
  stages:
  - pre-commit
  - pre-push
  additional_dependencies:
  - jsonschema
  - PyYAML
  - typing
  - argparse

fix(object-storage): fix object storage description typo
  mgc/sdk/static/object_storage/objects/download.go
  mgc/sdk/static/object_storage/objects/download_all.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/objects/download-all/help.txt
  script-qa/cli-help/object-storage/objects/download/help.txt
  script-qa/cli-help/object-storage/objects/help.txt
Due: none

fix(object-storage): add help for copy operation
  script-qa/cli-help/object-storage/objects/copy/help.txt
Due: none

feat(cli): style the horizontal table without borders
  mgc/cli/cmd/output_table.go
Due: none

fix(network): create proxies to improve cmd tree structure
  mgc/cli/blueprints/index.blueprint.yaml
  mgc/cli/blueprints/network.blueprint.yaml
  mgc/cli/openapis/network.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  openapi-customizations/network.openapi.yaml
  script-qa/cli-dump-tree.json
  script-qa/cli-help/network/public_ip/create/help.txt
  script-qa/cli-help/network/public_ip/help.txt
  script-qa/cli-help/network/rule/create/help.txt
  script-qa/cli-help/network/rule/help.txt
  script-qa/cli-help/network/rule/list/help.txt
  script-qa/cli-help/network/security_group/rules/help.txt
  script-qa/cli-help/network/subnets/create/help.txt
  script-qa/cli-help/network/subnets/help.txt
  script-qa/cli-help/network/subnets/list/help.txt
  script-qa/cli-help/network/vpc/public-ips/help.txt
  script-qa/cli-help/network/vpc/subnets/help.txt
Due: spec-stats, valid-openapi-specs

chore: bump version v0.14.0
  mgc/sdk/version.txt
Due: none

fix(jsonpath): add function to check if key existis in path
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/core/utils/jsonpath.go
  openapi-customizations/dbaas.openapi.yaml
Due: spec-stats, valid-openapi-specs

fix(tf): send only changed values in update
  mgc/terraform-provider-mgc/internal/provider/resource.go
Due: none

fix(tf): filter unset values from state
  mgc/terraform-provider-mgc/internal/provider/tf_state_loader.go
Due: none

fix(dbaas): update and apply customizations
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  openapi-customizations/dbaas.openapi.yaml
  script-qa/cli-help/dbaas/instances/resize/help.txt
  script-qa/cli-help/dbaas/instances/start/help.txt
  script-qa/cli-help/dbaas/instances/stop/help.txt
Due: spec-stats, valid-openapi-specs

fix(tf): compare tfNames when generating attributes
  mgc/terraform-provider-mgc/docs/resources/network_vpc.md
  mgc/terraform-provider-mgc/internal/provider/schema.go
Due: none

feat(tf): don't lose state completely if some property setters were successful
  mgc/terraform-provider-mgc/internal/provider/resource.go
Due: none

fix(tf): look for get link instead of read
  mgc/terraform-provider-mgc/internal/provider/state.go
Due: none

fix(tf): fix comparison to decide if property setter should be called
  mgc/terraform-provider-mgc/internal/provider/resource.go
Due: none

feat(tf): add/improve some logs
  mgc/terraform-provider-mgc/internal/provider/resource.go
Due: none

fix(links): fix links helps color schema
  mgc/cli/cmd/configure_output_color.go
  mgc/cli/cmd/link_cmd.go
Due: none

fix(core/schema): COWSchema/COWSchemaRef are now lazy to initCOW()
  mgc/core/schema/cow.go
Due: none

fix(help): fix help output when flag schema is 'xOf'
  mgc/cli/cmd/schema_flags/constraints.go
Due: none

fix(schema): fix conversion ref resolution, fix recursive simplification
  mgc/core/schema/cow.go
  mgc/core/schema/logger.go
  mgc/core/schema/schema_conversion.go
  mgc/core/schema/simplify_schema.go
  mgc/core/schema/simplify_schema_test.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/http/json/options/help.txt
  script-qa/cli-help/http/json/patch/help.txt
  script-qa/cli-help/http/json/post/help.txt
  script-qa/cli-help/http/json/put/help.txt
Due: none

feat: removing static block-storage
  mgc/cli/blueprints/block-storage.blueprint.yaml
  mgc/cli/blueprints/index.blueprint.yaml
  mgc/cli/cmd/load_cmd_tree.go
  mgc/sdk/blueprint/embed_loader.go
  mgc/sdk/static/block_storage/group.go
  mgc/sdk/static/block_storage/volume-attach/create.go
  mgc/sdk/static/block_storage/volume-attach/delete.go
  mgc/sdk/static/block_storage/volume-attach/get.go
  mgc/sdk/static/block_storage/volume-attach/group.go
  mgc/sdk/static/block_storage/volume-attach/types.go
  mgc/sdk/static/block_storage/volume-attach/update.go
  mgc/sdk/static/group.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/block-storage/help.txt
  script-qa/cli-help/block-storage/volume-attach-blueprint/create/help.txt
  script-qa/cli-help/block-storage/volume-attach-blueprint/delete/help.txt
  script-qa/cli-help/block-storage/volume-attach-blueprint/get/help.txt
  script-qa/cli-help/block-storage/volume-attach-blueprint/help.txt
  script-qa/cli-help/block-storage/volume-attach-blueprint/update/help.txt
  script-qa/cli-help/block-storage/volume-attachment/create/help.txt
  script-qa/cli-help/block-storage/volume-attachment/delete/help.txt
  script-qa/cli-help/block-storage/volume-attachment/get/help.txt
  script-qa/cli-help/block-storage/volume-attachment/help.txt
  script-qa/cli-help/block-storage/volume-attachment/update/help.txt
  script-qa/cli-help/help.txt
Due: spec-stats

test(object-storage): add initial test script
  mgc/cli/examples/object-storage.sh
Due: none

feat: update auth endpoints based on env
  mgc/core/auth/auth.go
  mgc/core/auth/auth_test.go
  mgc/sdk/sdk.go
  mgc/testing/fs_test_helper/fs_test_helper.go
Due: none

feat: checking every oapi yaml
  scripts/oapi_check_links.py
  scripts/oapi_check_links.sh
  scripts/transformers/spec_check_links.py
Due: spec-stats

refactor: moving functions to a helper to avoid circular imports
  scripts/transformers/transform.py
  scripts/transformers/transform_helpers.py
Due: spec-stats

feat: check openAPI links on commit
  .pre-commit-config.yaml
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
Due: spec-stats, valid-openapi-specs

fix(auth): use correct type return for function
  mgc/core/auth/auth.go
Due: none

feat(scopes): add scopes to manual BlockStorage.Attach operations
  mgc/cli/blueprints/block-storage.blueprint.yaml
Due: spec-stats

fix(simplify): account for custom types that implement raw ones
  mgc/core/utils/simplify_any.go
  mgc/core/utils/simplify_any_test.go
Due: none

refactor(auth): add typed infra for access token claims
  mgc/core/auth/auth.go
Due: none

feat(scopes): add support for Scopes in Descriptor, and collect in OAPI.Operation
  mgc/core/descriptor.go
  mgc/sdk/openapi/operation.go
Due: none

refactor(auth): abstract 'token exchange' operation from Tenant selection
  mgc/core/auth/auth.go
  mgc/core/auth/auth_test.go
  mgc/sdk/sdk.go
  mgc/sdk/static/auth/tenant/select.go
Due: none

feat(scopes): remove hardcoded scopes and add ability to specify them
  mgc/core/auth/auth.go
  mgc/core/auth/auth_test.go
  mgc/sdk/sdk.go
  mgc/sdk/static/auth/login.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/auth/login/help.txt
Due: none

feat(scopes): add 'remove' operation to remove scopes from current access token
  mgc/sdk/static/auth/scopes/group.go
  mgc/sdk/static/auth/scopes/remove.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/auth/scopes/help.txt
  script-qa/cli-help/auth/scopes/remove/help.txt
Due: none

feat(scopes): add 'list-current' operation to list current scopes in AT
  mgc/sdk/static/auth/scopes/group.go
  mgc/sdk/static/auth/scopes/list_current.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/auth/scopes/help.txt
  script-qa/cli-help/auth/scopes/list-current/help.txt
Due: none

feat(scopes): add 'add' operation to add scopes to current access token
  mgc/core/auth/auth.go
  mgc/sdk/static/auth/scopes/add.go
  mgc/sdk/static/auth/scopes/group.go
  mgc/sdk/static/auth/scopes/logger.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/auth/scopes/add/help.txt
  script-qa/cli-help/auth/scopes/help.txt
Due: none

feat(scopes): add 'list-all' operation to see all possible scopes
  mgc/core/auth/auth.go
  mgc/sdk/static/auth/group.go
  mgc/sdk/static/auth/scopes/group.go
  mgc/sdk/static/auth/scopes/list_all.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/auth/help.txt
  script-qa/cli-help/auth/scopes/help.txt
  script-qa/cli-help/auth/scopes/list-all/help.txt
Due: none

feat(scopes): block CLI execution if operation scopes aren't met by auth
  mgc/cli/cmd/handle_executor.go
Due: none

feat(scopes): add 'set' operation to set scopes in current access token
  mgc/sdk/static/auth/scopes/group.go
  mgc/sdk/static/auth/scopes/set.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/auth/scopes/help.txt
  script-qa/cli-help/auth/scopes/set/help.txt
Due: none

fix: checking dbaas links
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
Due: spec-stats, valid-openapi-specs

feat: script to create links
  scripts/transformers/spec_create_links.py
  scripts/transformers/transform.py
Due: spec-stats

fix(tf): add path to blueprints instead of only openapis
  mgc/terraform-provider-mgc/docs/resources/block-storage_volume-attachment.md
  mgc/terraform-provider-mgc/docs/resources/network_public_ip.md
  mgc/terraform-provider-mgc/docs/resources/network_public_ip_attach.md
  mgc/terraform-provider-mgc/docs/resources/network_rule.md
  mgc/terraform-provider-mgc/docs/resources/network_subnets.md
  mgc/terraform-provider-mgc/internal/provider/provider.go
  scripts/tf_generate_docs.sh
Due: none

Path conditions:
  spec-stats: any of: \.py$, \.(yaml|yml)$
  valid-openapi-specs: any of: ^mgc/cli/openapis/(?!index).*[.]openapi[.](yaml|yml|json)$ and \.(yaml|yml)$, \.json$
