Repository folkzb/magalu: changes, and which pre-commit hooks are due for each by the changed paths.
All: spec-stats, valid-openapi-specs

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push, commit-msg]
repos:
-   repo: local
    hooks:
    -   id: spec-stats
        name: spec-stats
        language: python
        entry: bash -c 'python3 ./scripts/spec_stats.py ./mgc/cli/openapis -o ./script-qa/spec_stats_dump.yml'
        types_or: [python, yaml]
        stages: [pre-push]
        additional_dependencies: [jsonschema, PyYAML, typing, argparse]
    -   id: go-test
        name: go-test
        language: golang
        entry: bash -c 'find . -name go.mod -execdir go test ./... \; | grep -zqv FAIL'
        stages: [pre-push]
    -   id: valid-openapi-specs
        name: valid-openapi-specs
        language: python
        entry: scripts/transformers/validate_openapi_specs.py
        files: ^mgc/cli/openapis/(?!index).*[.]openapi[.](yaml|yml|json)$
        types_or: [yaml, json]
        stages: [pre-commit, pre-push]
        additional_dependencies: [jsonschema, PyYAML, typing, argparse]
    -   id: check-cli-help-outputs
        name: check "cli help" outputs
        language: system
        entry: bash -c './scripts/gen_expected_cli_full_help_output_file.sh'
        require_serial: true
        stages: [pre-commit]
    -   id: oapi-index-gen
        name: oapi-index-gen
        language: system
        entry: bash -c './scripts/oapi_index_gen.sh'
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        stages: [pre-commit, pre-push]
        exclude: ^script-qa/
    -   id: end-of-file-fixer
        stages: [pre-commit, pre-push]
        exclude: >
          (?x)(
            ^mgc/sdk/version.txt|
            ^script-qa/
          )
    -   id: check-yaml
        stages: [pre-commit, pre-push]
    -   id: check-added-large-files
        stages: [pre-commit, pre-push]
    -   id: check-shebang-scripts-are-executable
        stages: [pre-commit, pre-push]
    -   id: check-merge-conflict
        stages: [pre-commit, pre-push]
    -   id: mixed-line-ending
        stages: [pre-commit, pre-push]

-   repo: https://github.com/golangci/golangci-lint
    rev: v1.54.2
    hooks:
    -   id: golangci-lint
        stages: [pre-commit]
        # Need to specify manually due to this issue:
        # https://github.com/golangci/golangci-lint/issues/2654
        entry: bash -c "go list -f '{{.Dir}}/...' -m | xargs golangci-lint run --fix --new-from-rev HEAD"

-   repo: https://github.com/golangci/golangci-lint
    rev: v1.54.2
    hooks:
    -   id: golangci-lint
        stages: [pre-push]
        # Need to specify manually due to this issue:
        # https://github.com/golangci/golangci-lint/issues/2654
        entry: bash -c "go list -f '{{.Dir}}/...' -m | xargs golangci-lint run --fix"

-   repo: https://github.com/TekWizely/pre-commit-golang
    rev: v1.0.0-rc.1
    hooks:
    -   id: go-mod-tidy
        stages: [pre-commit]

-   repo: https://github.com/commitizen-tools/commitizen
    rev: 3.10.0
    hooks:
    -   id: commitizen
        stages: [commit-msg]

-   repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
    -   id: flake8
        stages: [pre-commit, pre-push]
        additional_dependencies:
          - flake8-builtins
          - flake8-colors
          - flake8-comprehensions
          - flake8-deprecated
          - flake8-module-name
          - flake8-print
          - flake8-requirements
          - flake8-rst-docstrings
          - flake8-tidy-imports

-   repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
    -   id: black
        stages: [pre-commit, pre-push]

fix(specs): update dbaas openapi spec to 1.13.2
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/cli/openapis/index.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  openapi-customizations/dbaas.openapi.yaml
  script-qa/cli-dump-tree.json
  script-qa/cli-help/dbaas/backups/get/help.txt
  script-qa/cli-help/dbaas/backups/list/help.txt
  script-qa/cli-help/dbaas/datastores/list/help.txt
  script-qa/cli-help/dbaas/flavors/list/help.txt
  script-qa/cli-help/dbaas/healthcheck/help.txt
  script-qa/cli-help/dbaas/healthcheck/list/help.txt
  script-qa/cli-help/dbaas/help.txt
  script-qa/cli-help/dbaas/instances/backups/create/help.txt
  script-qa/cli-help/dbaas/instances/backups/delete/help.txt
  script-qa/cli-help/dbaas/instances/backups/get/help.txt
  script-qa/cli-help/dbaas/instances/backups/list/help.txt
  script-qa/cli-help/dbaas/instances/create/help.txt
  script-qa/cli-help/dbaas/instances/delete/help.txt
  script-qa/cli-help/dbaas/instances/get/help.txt
  script-qa/cli-help/dbaas/instances/help.txt
  script-qa/cli-help/dbaas/instances/list/help.txt
  script-qa/cli-help/dbaas/instances/resize/help.txt
  script-qa/cli-help/dbaas/instances/start/help.txt
  script-qa/cli-help/dbaas/instances/stop/help.txt
  script-qa/cli-help/dbaas/instances/update/help.txt
  script-qa/cli-help/dbaas/replicas/create/help.txt
  script-qa/cli-help/dbaas/replicas/delete/help.txt
  script-qa/cli-help/dbaas/replicas/get/help.txt
  script-qa/cli-help/dbaas/replicas/list/help.txt
  script-qa/cli-help/dbaas/replicas/resize/help.txt
  script-qa/cli-help/dbaas/replicas/start/help.txt
  script-qa/cli-help/dbaas/replicas/stop/help.txt
  script-qa/cli-help/dbaas/restores/create/help.txt
  script-qa/cli-help/dbaas/restores/help.txt
  script-qa/spec_stats_dump.yml
Due: spec-stats, valid-openapi-specs

fix(spce): fix block storage volume delete and detach force flag description
  mgc/cli/openapis/block-storage.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/block-storage/volume/delete/help.txt
  script-qa/cli-help/block-storage/volume/detach/help.txt
Due: spec-stats, valid-openapi-specs

fix(tf): fix requirements for attrinute to be conditional
  mgc/terraform-provider-mgc/internal/provider/resource.go
  mgc/terraform-provider-mgc/internal/provider/schema.go
  mgc/terraform-provider-mgc/internal/provider/schema_test.go
Due: none

fix(tf): remove resource prefix from tf attrinute name
  mgc/terraform-provider-mgc/internal/provider/resource.go
  mgc/terraform-provider-mgc/internal/provider/schema.go
Due: none

feat(tf): add grouper name to MgcResource
  mgc/terraform-provider-mgc/internal/provider/connection_resource.go
  mgc/terraform-provider-mgc/internal/provider/execute.go
  mgc/terraform-provider-mgc/internal/provider/provider.go
  mgc/terraform-provider-mgc/internal/provider/resource.go
  mgc/terraform-provider-mgc/internal/provider/schema.go
  mgc/terraform-provider-mgc/internal/provider/state.go
  mgc/terraform-provider-mgc/internal/provider/tf_state_loader_test.go
Due: none

feat(tf): add TF docs to repo
  .gitignore
  .pre-commit-config.yaml
  mgc/terraform-provider-mgc/docs/index.md
  mgc/terraform-provider-mgc/docs/resources/block-storage_snapshots.md
  mgc/terraform-provider-mgc/docs/resources/block-storage_volume.md
  mgc/terraform-provider-mgc/docs/resources/block-storage_volume_attach.md
  mgc/terraform-provider-mgc/docs/resources/dbaas_instances.md
  mgc/terraform-provider-mgc/docs/resources/dbaas_instances_backups.md
  mgc/terraform-provider-mgc/docs/resources/dbaas_replicas.md
  mgc/terraform-provider-mgc/docs/resources/mke_cluster.md
  mgc/terraform-provider-mgc/docs/resources/mke_nodepool.md
  mgc/terraform-provider-mgc/docs/resources/network_port.md
  mgc/terraform-provider-mgc/docs/resources/network_port_attach.md
  mgc/terraform-provider-mgc/docs/resources/network_security_group.md
  mgc/terraform-provider-mgc/docs/resources/network_vpc.md
  mgc/terraform-provider-mgc/docs/resources/virtual-machine_instances.md
  mgc/terraform-provider-mgc/docs/resources/virtual-machine_snapshots.md
Due: spec-stats

fix(oapi): fix formatting and yaml of specs
  mgc/cli/openapis/block-storage.openapi.yaml
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/terraform-provider-mgc/docs/resources/block-storage_volume.md
  mgc/terraform-provider-mgc/docs/resources/block-storage_volume_attach.md
Due: spec-stats, valid-openapi-specs

fix(oapi): remove unnecessary renames of variables in BS
  mgc/cli/openapis/block-storage.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  openapi-customizations/block-storage.openapi.yaml
  script-qa/cli-dump-tree.json
  script-qa/cli-help/block-storage/snapshots/delete/help.txt
  script-qa/cli-help/block-storage/snapshots/restore/help.txt
Due: spec-stats, valid-openapi-specs

fix(oapi): remove unnecessary renames of variables in Network
  mgc/cli/openapis/network.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/terraform-provider-mgc/docs/resources/network_port_attach.md
  mgc/terraform-provider-mgc/docs/resources/network_vpc.md
  openapi-customizations/network.openapi.yaml
  script-qa/cli-dump-tree.json
  script-qa/cli-help/network/port/attach/help.txt
  script-qa/cli-help/network/port/delete/help.txt
  script-qa/cli-help/network/port/detach/help.txt
  script-qa/cli-help/network/port/get/help.txt
  script-qa/cli-help/network/security_group/delete/help.txt
  script-qa/cli-help/network/security_group/get/help.txt
  script-qa/cli-help/network/vpc/delete/help.txt
  script-qa/cli-help/network/vpc/get/help.txt
Due: spec-stats, valid-openapi-specs

chore: bump version v0.13.3
  mgc/sdk/version.txt
Due: none

fix: demote validation err log level on releases
  mgc/cli/cmd/cmd_result_format.go
  mgc/cli/cmd/log_validation_error_development.go
  mgc/cli/cmd/log_validation_error_release.go
Due: none

refactor(object-storage): remove outdated download TODO
  mgc/sdk/static/object_storage/objects/download.go
Due: none

feat(object-storage): add parallel process to download all
  mgc/sdk/static/object_storage/objects/download_all.go
Due: none

feat(yaml): add support for 'example' customization in yaml merge
  scripts/yaml_merge.py
Due: spec-stats

fix(dbaas): move restores create to backups restore
  mgc/cli/blueprints/dbaas.blueprint.yaml
  mgc/cli/blueprints/index.blueprint.yaml
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  openapi-customizations/dbaas.openapi.yaml
  script-qa/cli-dump-tree.json
  script-qa/cli-help/dbaas/backups/help.txt
  script-qa/cli-help/dbaas/backups/restore/help.txt
  script-qa/cli-help/dbaas/help.txt
  script-qa/spec_stats_dump.yml
Due: spec-stats, valid-openapi-specs

feat: script to check id path of links
  scripts/transformers/spec_check_links.py
  scripts/transformers/transform.py
Due: spec-stats

fix(pre-commit): add 'apply-customizations' and 'index-gen' to stages
  .pre-commit-config.yaml
Due: spec-stats

fix(tf): avoid calling the same property setter twice in a row
  mgc/terraform-provider-mgc/internal/provider/resource.go
Due: none

chore(tf): format example main.tf file
  mgc/terraform-provider-mgc/examples/provider/main.tf
Due: none

fix(tf): move logic fix from Result to Delete modifiers
  mgc/terraform-provider-mgc/docs/resources/dbaas_instances.md
  mgc/terraform-provider-mgc/docs/resources/mke_cluster.md
  mgc/terraform-provider-mgc/internal/provider/resource.go
  mgc/terraform-provider-mgc/internal/provider/schema_test.go
Due: none

fix(tf): use helpers for Schema generation in connection resource
  mgc/terraform-provider-mgc/docs/resources/block-storage_volume_attach.md
  mgc/terraform-provider-mgc/docs/resources/network_port_attach.md
  mgc/terraform-provider-mgc/internal/provider/connection_resource.go
Due: none

fix(tf): fix calculation of computed properties in TF
  mgc/terraform-provider-mgc/internal/provider/resource.go
Due: none

fix(tf): avoid `current_` attributes being set to 'optional == true'
  mgc/terraform-provider-mgc/docs/resources/virtual-machine_instances.md
  mgc/terraform-provider-mgc/internal/provider/resource.go
Due: none

feat(vm): add property setters to VM Snapshots
  mgc/cli/openapis/virtual-machine.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  openapi-customizations/virtual-machine.openapi.yaml
  script-qa/cli-help/virtual-machine/snapshots/get/help.txt
Due: spec-stats, valid-openapi-specs

fix(dbaas): fix formatting of yaml and fix customization
  mgc/cli/openapis/dbaas.openapi.yaml
  openapi-customizations/dbaas.openapi.yaml
Due: spec-stats, valid-openapi-specs

chore(dbaas): wait even more for instance creation
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  openapi-customizations/dbaas.openapi.yaml
Due: spec-stats, valid-openapi-specs

feat(dbaas): add property setters to DBaaS instances
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/terraform-provider-mgc/docs/resources/dbaas_replicas.md
  openapi-customizations/dbaas.openapi.yaml
Due: spec-stats, valid-openapi-specs

feat(dbaas): add example to dbaas instances create
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  openapi-customizations/dbaas.openapi.yaml
  script-qa/cli-dump-tree.json
  script-qa/cli-help/dbaas/instances/create/help.txt
  script-qa/cli-help/dbaas/instances/resize/help.txt
Due: spec-stats, valid-openapi-specs

fix: fixing broken path links
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/cli/openapis/mke.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
Due: spec-stats, valid-openapi-specs

fix: applying fix to links in customizations
  openapi-customizations/dbaas.openapi.yaml
  openapi-customizations/mke.openapi.yaml
Due: spec-stats

fix: fixing vpc flag name
  mgc/cli/openapis/network.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  openapi-customizations/network.openapi.yaml
  script-qa/cli-dump-tree.json
  script-qa/cli-help/network/vpc/ports/list/help.txt
Due: spec-stats, valid-openapi-specs

feat(sdk): make static groupers lazy
  mgc/core/static_group.go
  mgc/sdk/sdk.go
  mgc/sdk/static/auth/group.go
  mgc/sdk/static/auth/objectstorage/group.go
  mgc/sdk/static/auth/tenant/group.go
  mgc/sdk/static/block_storage/group.go
  mgc/sdk/static/block_storage/volume-attach/group.go
  mgc/sdk/static/config/group.go
  mgc/sdk/static/group.go
  mgc/sdk/static/http/group.go
  mgc/sdk/static/http/json.go
  mgc/sdk/static/object_storage/buckets/group.go
  mgc/sdk/static/object_storage/group.go
  mgc/sdk/static/object_storage/objects/group.go
  mgc/sdk/static/profile/group.go
Due: none

fix(log): fix structured logging for development result validation
  mgc/cli/cmd/log_validation_error_development.go
Due: none

feat(sdk): make grouper context lazy
  mgc/core/types.go
  mgc/sdk/sdk.go
Due: none

feat(transform): make OAPI transform init lazy
  mgc/sdk/go.mod
  mgc/sdk/openapi/transform/transform_spec.go
Due: none

feat(sdk): make merge grouper lazy
  mgc/core/merge.go
  mgc/sdk/sdk.go
Due: none

fix(links): rename read operation to get
  mgc/cli/openapis/block-storage.openapi.yaml
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/cli/openapis/mke.openapi.yaml
  mgc/cli/openapis/network.openapi.yaml
  mgc/cli/openapis/virtual-machine.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/terraform-provider-mgc/internal/provider/connection_resource.go
  openapi-customizations/block-storage.openapi.yaml
  openapi-customizations/dbaas.openapi.yaml
  openapi-customizations/mke.openapi.yaml
  openapi-customizations/network.openapi.yaml
  openapi-customizations/virtual-machine.openapi.yaml
Due: spec-stats, valid-openapi-specs

fix(dbaas): fix link parameters reference
  mgc/cli/openapis/dbaas.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  openapi-customizations/dbaas.openapi.yaml
Due: spec-stats, valid-openapi-specs

feat(object-storage): add copy operation
  mgc/sdk/static/object_storage/objects/copy.go
  mgc/sdk/static/object_storage/objects/group.go
  script-qa/cli-dump-tree.json
  script-qa/cli-help/object-storage/objects/help.txt
Due: none
